html, body {
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 730px;
    background-color: #4fc6fc;
    background-size: 100% 100%;
    /*overflow: hidden;*/
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    min-width: 1366px;
    height: 73px;
    line-height: 70px;
    background-color: #fff;
    border-bottom: 27px solid transparent;
    border-image: url("../images/index/top-bottom.png") 0 0 27 0 stretch;
    color: #00a0e9;
}

.top .fl .ai-logo {
    width: 107px;
    height: 47px;
    margin-top: -13px;
    user-select: none;
}

.top .fl .ai-title {
    width: 113px;
    height: 16px;
    margin-bottom: 14px;
    line-height: 63px;
    margin-left: 20px;
    user-select: none;
}

.top .fl p {
    display: inline-block;
    height: 73px;
    font-size: 20px;
}

.top .fr {
    height: 73px;
}

.top .fr img {
    width: 48px;
    height: 48px;
    margin: 10px 12px;
    border-radius: 50%;
    border: 1px solid #00a0e9;
}

.top .fr p {
    display: inline-block;
    height: 73px;
    opacity: 0.9;
    font-size: 14px;
    padding: 0 2px;
    margin-right: 26px;
}

/* 个人中心 */
.top .fr a {
    font-size: 14px;
    color: #00a0e9;
    text-decoration: none;
    cursor: pointer;
}

.top .fr a:link {
    color: #00a0e9;
    text-decoration: none;
}

.top .fr a:active {
    color: #0a0253;
    text-decoration: none;
}

.top .fr a:visited {
    color: #00a0e9;
    text-decoration: none;
}

/*退出模态框*/
.top .header-container .exit-button {
    padding-left: 7px;
}

.top .header-container .exit-button:hover {
    text-decoration: none;
}

.top .header-container .exit {
    background-color: rgba(0, 0, 0, .1);
}

.top .exit .modal-dialog .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 200px;
    width: 355px;
    height: 330px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top .exit .modal-dialog .modal-body {
    padding: 0;
    margin: 0 auto;
    width: 268px;
    height: 210px;
    background: url("../images/common/exit.png");
    background-size: cover;
    position: relative;
}

.top .exit .modal-dialog .modal-footer {
    padding: 15px 0;
    text-align: left;
    border-top: none;
}

.top .exit .modal-dialog .modal-footer .btn {
    width: 109px;
    height: 37px;
    color: #fff;
    background: url("../images/common/set-meb-icon.png") no-repeat center center;
}

.top .exit .modal-dialog .modal-footer .btn:hover {
    background: url("../images/common/hover-set-meb-icon.png") no-repeat center center;
}

/* 内容区域 */

/*.content {*/
/*padding-top: 190px;*/
/*}*/

/*.content-out {*/
/*position: relative;*/
/*width: 844px;*/
/*margin: 220px auto 0;*/
/*background: url("../images/index/all-bg.png") no-repeat center center;*/
/*background-size: cover;*/
/*background-color: #00a0e9;*/
/*overflow: hidden;*/
/*}*/

.content-out {
    width: 100%;
    height: 100%;
    min-height: 640px;
    /*margin-top: 100px;*/
    position: relative;
    overflow: hidden;
}

.content .bottom-bg {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: -270px;
    left: -72px;
}

.content .bottom-bg::after {
    content: '';
    clear: both;
    display: block;
}

.content .bottom-bg li {
    /*padding-top: 60px;*/
    width: 186px;
    height: 186px;
    float: left;
    margin: 0 40px;
    text-align: center;
    border-radius: 50%;
    background-size: 100%;
    cursor: pointer;
}

.content .bottom-bg li.first,
.content .bottom-bg li.last {
    margin-top: 127px;
}

.content .bottom-bg li.first {
    background: url("../images/index/11.png") no-repeat center center;
    box-shadow: 0 0 30px rgb(239, 129, 24);
}

.content .bottom-bg li.second {
    background: url("../images/index/22.png") no-repeat center center;
    box-shadow: 0 0 30px rgb(231, 51, 170);
}

.content .bottom-bg li.third {
    background: url("../images/index/33.png") no-repeat center center;
    box-shadow: 0 0 30px rgb(127, 231, 43);
}

.content .bottom-bg li.last {
    background: url("../images/index/44.png") no-repeat center center;
    box-shadow: 0 0 30px rgb(238, 235, 8);
}

.content .bottom-bg li img {
    padding-top: 26px;
    height: 77px;
}

.content .bottom-bg li p {
    /*margin: 40px auto;*/
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 184px;
    color: #fff;
}

/*================*/
.content .thin {
    width: 1366px;
    height: 1366px;
    border-radius: 1200px;
    background-color: #4fc6fc;
    border: 10px solid #45c1fa;
    position: absolute;
    bottom: -911px;
    left: 50%;
    margin-left: -683px;
}

.content .thin .nomal {
    width: 1218px;
    height: 1218px;
    border-radius: 1218px;
    background-color: #4fc6fc;
    border: 20px solid #41bff9;
    position: absolute;
    bottom: 64px;
    left: 50%;
    margin-left: -609px;
}

/*.content .thin .nomal .blod{*/
/*width: 1000px;*/
/*height: 1000px;*/
/*border-radius: 1200px;*/
/*background-color: deepskyblue;*/
/*border: 20px solid lightblue;*/
/*position: absolute;*/
/*bottom: 110px;*/
/*left: 50%;*/
/*margin-left: -520px;*/
/*}*/
.content .thin .nomal .blod {
    width: 1116px;
    height: 1116px;
    border-radius: 1116px;
    border: 100px solid #2bb5f3;
    background-color: #4fc6fc;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -560px;
    /*background-color: deepskyblue;*/
}

.content .thin .nomal .blod .blod-image {
    width: 916px;
    height: 916px;
    border-radius: 916px;
    background: url("../images/index/qiuqiu.jpg") no-repeat center top;
    /*border: 100px solid lightblue;*/
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -458px;
}
.content .thin .nomal .blod .blod-image.webp {
    background: url("../images/index/qiuqiu.webp") no-repeat center top;
}

.content .lamp {
    position: absolute;
    top: -130px;
    right: 190px;
    width: 148px;
    height: 107px;
    background: url("../images/index/huojian.png") no-repeat center center;
    background-size: 100% 100%;
    /* css3 动画 */
    animation: rocket 3s infinite linear;
    -moz-animation: rocket 3s infinite linear; /* Firefox */
    -webkit-animation: rocket 3s infinite linear; /* Safari and Chrome */
    -o-animation: rocket 3s infinite linear; /* Opera */
}

@keyframes rocket {
    0% {
        transform: scale(0.9) translate(50px, -50px);
        opacity: 0;
    }
    25% {
        transform: scale(1.1) translate(0px, 0px);
        opacity: 1;
    }
    50% {
        transform: scale(1.0) translate(-50px, 50px);
        opacity: 1;
    }
    75% {
        transform: scale(1.0) translate(-70px, 70px);
        opacity: 0;
    }
    76% {
        transform: scale(1.0) translate(-70px, 70px);
        opacity: 0;
    }
    100% {
        transform: scale(0.9) translate(100px, -100px);
        opacity: 0;
    }
}
.content .starb {
    position: absolute;
    bottom: 71%;
    left: 36.6%;
    width: 26px;
    height: 28px;
    background: url("../images/index/starb.png") no-repeat center center;
    background-size: 100% 100%;
    /* css3 动画 */
    animation: starb 3s infinite linear;
    -moz-animation: starb 3s infinite linear; /* Firefox */
    -webkit-animation: starb 3s infinite linear; /* Safari and Chrome */
    -o-animation: starb 3s infinite linear; /* Opera */
}

@keyframes starb {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.content .stars {
    position: absolute;
    bottom: 62.6%;
    right: 43%;
    width: 26px;
    height: 28px;
    background: url("../images/index/stars.png") no-repeat center center;
    background-size: 100% 100%;
    /* css3 动画 */
    animation: stars 3s infinite linear;
    -moz-animation: stars 3s infinite linear; /* Firefox */
    -webkit-animation: stars 3s infinite linear; /* Safari and Chrome */
    -o-animation: stars 3s infinite linear; /* Opera */
}

@keyframes stars {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}
.content .speaking-trumpet {
    position: absolute;
    top: -60px;
    left: 0;
    width: 122px;
    height: 122px;
    background: url("../images/index/yuhangyuan.png") no-repeat center center;
    background-size: 100% 100%;
    /* css3 动画 */
    animation: astronaut 5s infinite linear;
    -moz-animation: astronaut 5s infinite linear; /* Firefox */
    -webkit-animation: astronaut 5s infinite linear; /* Safari and Chrome */
    -o-animation: astronaut 5s infinite linear; /* Opera */
}

@keyframes astronaut {
    0% {
        transform: rotate(0deg) scale(0.9);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg) scale(1.1);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg) scale(0.9);
    }
}

/*.content .star1 {*/
/*position: absolute;*/
/*bottom: 380px;*/
/*left: 360px;*/
/*width: 122px;*/
/*height: 122px;*/
/*background: url("../images/index/yuhangyuan.png") no-repeat center center;*/
/*background-size: 100% 100%;*/
/*}*/
/*.content .star2 {*/
/*position: absolute;*/
/*bottom: 380px;*/
/*left: 360px;*/
/*width: 122px;*/
/*height: 122px;*/
/*background: url("../images/index/yuhangyuan.png") no-repeat center center;*/
/*background-size: 100% 100%;*/
/*}*/
.content .ball1 {
    position: absolute;
    top: 120px;
    left: 330px;
    width: 102px;
    height: 66px;
    background: url("../images/index/1.png") no-repeat center center;
    background-size: 100% 100%;
    /* css3 动画 */
    animation: ball 5s infinite linear;
    -moz-animation: ball 5s infinite linear; /* Firefox */
    -webkit-animation: ball 5s infinite linear; /* Safari and Chrome */
    -o-animation: ball 5s infinite linear; /* Opera */
}

@keyframes ball {
    0% {
        transform: scale(0.9);
    }
    /*10%  {transform: rotate(36deg);}*/
    /*20%  {transform: rotate(72deg);}*/
    /*30%  {transform: rotate(108deg);}*/
    /*40%  {transform: rotate(144deg);}*/
    50% {
        transform: scale(1.1);
    }
    /*60%  {transform: rotate(216deg);}*/
    /*70%  {transform: rotate(252deg);}*/
    /*80%  {transform: rotate(288deg);}*/
    /*90%  {transform: rotate(324deg);}*/
    100% {
        transform: scale(0.9);
    }
}

.content .ball2 {
    position: absolute;
    top: 130px;
    right: 560px;
    width: 61px;
    height: 41px;
    background: url("../images/index/2.png") no-repeat center center;
    background-size: 100% 100%;
}

.add-top {
    width: 1055px;
    position: absolute;
    top: 61px;
    left: 0;
}

.add-top li {
    width: 211px;
    height: 188px;
    float: left;
    background: transparent;
}

.add-top li a {
    display: inline-block;
    width: 186px;
    height: 186px;
    z-index: 100;
    text-decoration: none;
}