html, body {
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 730px;
    background-color: #4fc6fc;
    background-size: 100% 100%;
    /*overflow: hidden;*/
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    min-width: 1366px;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    /*border-bottom: 27px solid transparent;*/
    /*border-image: url("../images/index/top-bottom.png") 0 0 27 0 stretch;*/
    color: #00a0e9;
}

.top .left:before {
    float: left;
    content: "";
    width: 107px;
    height: 47px;
    margin-top: 10px;
    user-select: none;
    background: url("../images/index/index.png") no-repeat 0 0;
}

.top .left:after {
    float: left;
    content: "";
    width: 113px;
    height: 16px;
    margin-top: 27px;
    line-height: 63px;
    margin-left: 20px;
    user-select: none;
    background: url("../images/index/index.png") no-repeat 0 -50px;
}

.top .fl p {
    display: inline-block;
    height: 73px;
    font-size: 20px;
}

.top .fr {
    height: 73px;
}

.top .fr img {
    width: 48px;
    height: 48px;
    margin: 10px 12px;
    border-radius: 50%;
    border: 1px solid #00a0e9;
}

.top .fr p {
    display: inline-block;
    height: 73px;
    opacity: 0.9;
    font-size: 14px;
    padding: 0 2px;
    margin-right: 26px;
}

/* 个人中心 */
.top .fr a {
    font-size: 14px;
    color: #00a0e9;
    text-decoration: none;
    cursor: pointer;
}

.top .fr a:link {
    color: #00a0e9;
    text-decoration: none;
}

.top .fr a:active {
    color: #0a0253;
    text-decoration: none;
}

.top .fr a:visited {
    color: #00a0e9;
    text-decoration: none;
}

/*退出模态框*/
.top .exit-button {
    cursor: pointer;
    padding-left: 7px;
}

.top .exit-button:hover {
    text-decoration: none;
}

.top .exits {
    background-color: rgba(0, 0, 0, .1);
}

.top .exits .modal-dialog {
    width: 490px;
    height: 400px;
    margin-top: 14%;
}

.top .exits .modal-dialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top .exits .modal-dialog .modal-content #exit-header,
.top .exits1 .modal-dialog .modal-content #exit1-header {
    width: 494px;
    height: 136px;
    background: url("../images/common/startbg.png");
    background-size: cover;
    border-bottom: none;
    padding: 0;
}

.top .exits .modal-dialog .modal-content .modal-body {
    padding: 0;
    margin: -35px auto 0;
    text-align: center;
}

.top .exits .modal-dialog .modal-content .modal-body .exit-eyes {
    width: 131px;
    height: 52px;
    border-radius: 0;
    border: none;
    margin: 0;
}

.top .exits .modal-dialog .modal-content .modal-body .exit-text,
.top .exits1 .modal-dialog .modal-content .modal-body #dialog_content{
    font-size: 30px;
    width: 494px;
    color: #fff;
    display: block;
    margin-top: -29px;
    padding: 0 0 0 27px;
    text-shadow: 0 0 6px rgba(79, 198, 252, 0.25);
}

.top .exits1 .modal-dialog .modal-content .modal-body #dialog_content p{
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    display: block;
    height: 42px;
    padding: 0 0 0 27px;
    text-shadow: 0 0 6px rgba(79, 198, 252, 0.25);
    line-height: 95px;
}

.top .exits .modal-dialog .modal-content .modal-footer {
    padding: 15px 0;
    text-align: center;
    border-top: none;
}

.top .exits .modal-dialog .modal-content .modal-footer .btn {
    width: 110px;
    height: 36px;
    color: #fff;
    background: url("../images/common/normal-button.png") no-repeat center center;
}

.top .exits .modal-dialog .modal-footer .btn:hover {
    background: url("../images/common/hover-button.png") no-repeat center center;
}

/*催作业模态框*/

.top .exits1 {
    background-color: rgba(0, 0, 0, .1);
}

.top .exits1 .modal-dialog {
    width: 494px;
    height: 400px;
    margin-top: 14%;
}

.top .exits1 .modal-dialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top .exits1 .modal-dialog .modal-content .modal-body {
    padding: 0;
    margin: -35px auto 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 430px;
    max-height: 300px;
}
.top .exits1 .modal-dialog .modal-body #dialog_content{
    width: 400px;
    word-wrap:break-word;
    word-break:break-all;
    max-height: 300px;
    margin-top: 0;

}
.top .exits1 .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.top .exits1 .modal-dialog .modal-content .modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.top .exits1 .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

.top .exits1 .modal-dialog .modal-footer {
    padding: 15px 0;
    text-align: center;
    border-top: none;
}

.top .exits1 .modal-dialog .modal-footer .btn {
    width: 110px;
    height: 36px;
    color: #fff;
    background: url("../images/common/normal-button.png") no-repeat center center;
}

.top .exits1 .modal-dialog .modal-footer .btn:hover {
    background: url("../images/common/hover-button.png") no-repeat center center;
}



/* 内容区域 */

/*.content {*/
/*padding-top: 190px;*/
/*}*/

/*.content-out {*/
/*position: relative;*/
/*width: 844px;*/
/*margin: 220px auto 0;*/
/*background: url("../images/index/all-bg.png") no-repeat center center;*/
/*background-size: cover;*/
/*background-color: #00a0e9;*/
/*overflow: hidden;*/
/*}*/

.content-out {
    width: 100%;
    height: 100%;
    min-height: 640px;
    /*margin-top: 100px;*/
    position: relative;
    background-color: #0193f9;
    overflow: hidden;
}

.content .bottom-bg {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: -270px;
    left: -72px;
}

.content .bottom-bg::after {
    content: '';
    clear: both;
    display: block;
}

.content .bottom-bg li {
    /*padding-top: 60px;*/
    width: 180px;
    height: 180px;
    float: left;
    margin: 0 42px;
    text-align: center;
    border-radius: 50%;
    background-size: 100%;
    cursor: pointer;
}

.content .bottom-bg li.first,
.content .bottom-bg li.last {
    margin-top: 127px;
}

.content .bottom-bg li.first {
    background: url("../images/index/11.jpg") no-repeat center center;
    box-shadow: 0 0 30px rgb(239, 129, 24);
}

.content .bottom-bg li.first.webp {
    background: url("../images/index/11.webp") no-repeat center center;
}

.content .bottom-bg li.second {
    background: url("../images/index/22.jpg") no-repeat center center;
    box-shadow: 0 0 30px rgb(231, 51, 170);
}

.content .bottom-bg li.second.webp {
    background: url("../images/index/22.webp") no-repeat center center;
}

.content .bottom-bg li.third {
    background: url("../images/index/33.jpg") no-repeat center center;
    box-shadow: 0 0 30px rgb(127, 231, 43);
}

.content .bottom-bg li.third.webp {
    background: url("../images/index/33.webp") no-repeat center center;
}

.content .bottom-bg li.last {
    background: url("../images/index/44.jpg") no-repeat center center;
    box-shadow: 0 0 30px rgb(238, 235, 8);
}

.content .bottom-bg li.last.webp {
    background: url("../images/index/44.webp") no-repeat center center;
}

.content .bottom-bg li img {
    padding-top: 26px;
    height: 77px;
}

.content .bottom-bg li p {
    /*margin: 40px auto;*/
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 184px;
    color: #fff;
}

/*================*/
/*.content .thin {
    width: 1366px;
    height: 1366px;
    border-radius: 1200px;
    background-color: #4fc6fc;
    border: 10px solid #45c1fa;
    position: absolute;
    bottom: -911px;
    left: 50%;
    margin-left: -683px;
}

.content .thin .nomal {
    width: 1218px;
    height: 1218px;
    border-radius: 1218px;
    background-color: #4fc6fc;
    border: 20px solid #41bff9;
    position: absolute;
    bottom: 64px;
    left: 50%;
    margin-left: -609px;
}*/

/*.content .thin .nomal .blod{*/
/*width: 1000px;*/
/*height: 1000px;*/
/*border-radius: 1200px;*/
/*background-color: deepskyblue;*/
/*border: 20px solid lightblue;*/
/*position: absolute;*/
/*bottom: 110px;*/
/*left: 50%;*/
/*margin-left: -520px;*/
/*}*/
/*.content .thin .nomal .blod {
    width: 1116px;
    height: 1116px;
    border-radius: 1116px;
    border: 100px solid #2bb5f3;
    background-color: #4fc6fc;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -560px;
    !*background-color: deepskyblue;*!
}

.content .thin .nomal .blod .blod-image {
    width: 916px;
    height: 916px;
    border-radius: 916px;
    background: url("../images/index/qiuqiu.jpg") no-repeat center top;
    !*border: 100px solid lightblue;*!
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -458px;
}

.content .thin .nomal .blod .blod-image.webp {
    background: url("../images/index/qiuqiu.webp") no-repeat center top;
}*/
/*.content {
    width: 100%;
    height: 100%;
}*/
.content .sun {
    /*width: 125px;*/
    width: 13%;
    height: 20%;
    background:url("../images/index/sun.png") no-repeat left top;
    /*background-color: pink;*/
    position: absolute;
    top: 70px;
    left: 0;
}
.content .top-left-line {
    /*width: 304px;*/
    width: 22.25%;
    height: 3px;
    /*background-color: #fff;*/
    position: absolute;
    top: 31.25%;
    left: 10%;
    /*background-color: pink;*/
}
.content .top-left-line:before{
    content: "";
    display: block;
    float: left;
    width: 56%;
    height:3px;
    border-radius: 2px;
    background-color: #fff;
}
.content .top-left-line .line-center{
    float: left;
    width: 18%;
    height: 3px;
    margin: 0 6.4% 0 9.6%;
    border-radius: 2px;
    background-color: #fff;
}
.content .top-left-line:after{
    content: "";
    display: block;
    float: left;
    width: 10%;
    height:3px;
    border-radius: 2px;
    background-color: #fff;
}
.content .top-cloud {
    width:10%;
    height:12.76%;
    background: url("../images/index/cloud-top.png") no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top:27.34%;
    right: 21.23%;
}
.content .top-right-line {
    width: 7.32%;
    height: 3px;
    position: absolute;
    top: 37.37%;
    right: 10.54%;
    /*background-color: pink;*/
}
.content .top-right-line:before{
    content: "";
    display: block;
    float: left;
    width: 50%;
    height:3px;
    margin-right: 20%;
    border-radius: 2px;
    background-color: #fff;
}
.content .top-right-line:after{
    content: "";
    display: block;
    float: left;
    width: 30%;
    height:3px;
    border-radius: 2px;
    background-color: #fff;
}
.content .clund-left{
    width:37.34%;
    height:44%;
    background: url("../images/index/cloud-left.png") no-repeat left top;
    background-size: 100% 100%;
    /*background-color: #fab;*/
    position: absolute;
    left: 0;
    bottom: -4px;
}
.content .clund-center{
    width:28.415%;
    height:9.78%;
    margin-left: -0.2615%;
    background: url("../images/index/cloud-center.png") no-repeat left bottom;
    background-size: 100% 100%;
    /*background-color: #fab;*/
    position: absolute;
    left:37.34%;
    bottom: 0;
}
.content .clund-right{
    width:34.58%;
    height:44%;
    background: url("../images/index/cloud-center.png") no-repeat left bottom;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.content .top-right-point1,
.content .top-right-point2 {
    width: 0.634%;
    height: 31.25%;
    /*background-color: pink;*/
}
.content .top-right-point1 li,
.content .top-right-point2 li{
    width: 100%;
    height: 4.172%;
    margin-bottom: 500%;
    border-radius: 50%;
    background-color: #fff;
    /*position: absolute;*/
}
.content .top-right-point1{
    position: absolute;
    right: 5.4%;
    top: 24.1%;
}
.content .top-right-point2{
    position: absolute;
    top: 19.14%;
    right: 9.5%;
}
.content .bottom-left-point1,
.content .bottom-left-point2,
.content .bottom-left-point3 {
    /*width: 26.36%;*/
    width: 17.57%;
    height: 1.302%;
    /*background-color: pink;*/
}
.content .bottom-left-point1 li,
.content .bottom-left-point2 li,
.content .bottom-left-point3 li{
    width: 3.61%;
    height: 100%;
    margin-right: 21%;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    /*position: absolute;*/
}
.content .bottom-left-point1{
    position: absolute;
    left: 1.98%;
    bottom: 5.6%;
}
.content .bottom-left-point2{
    position: absolute;
    left: 6.22%;
    bottom: 12.24%;
}
.content .bottom-left-point3{
    position: absolute;
    left: 4.465%;
    bottom: 18.1%;
}
.content .nav{
    /*width:41%;
    height: 36.198%;*/
    width:560px;
    height: 278px;
    position: absolute;
    top: 45%;
    left: 30.75%;
    /*margin: 45.58% auto 0;*/
}
/*.content .nav-in{
    width:40.4%;
    height: 100%;
    background-color: blueviolet;
}*/
.content .nav .left-nav,
.content .nav .right-nav{
    float: left;
    width: 34.64%;
    height: 69.785%;
    border-radius: 50%;
}
.content .nav .left-nav{
    margin-right: 30.7%;
    background: -webkit-linear-gradient(#3ff4ed, #0eebd9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#3ff4ed, #0eebd9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#3ff4ed, #0eebd9); /* Firefox 3.6 - 15 */
    background: linear-gradient(#3ff4ed, #0eebd9); /* 标准的语法（必须放在最后） */
}
.content .nav .right-nav{
    background: -webkit-linear-gradient(#ff7441, #ff305f); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ff7441, #ff305f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#ff7441, #ff305f); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ff7441, #ff305f); /* 标准的语法（必须放在最后） */
}
.content .nav .left-nav:before,
.content .nav .left-nav:after{
    display: inline-block;
    content: "";
    width: 20%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.content .nav .left-nav:before{
    position: absolute;
    bottom:42px;
    left: -24px;
    transform:rotate(-56deg);

}
.content .nav .left-nav:after {
    position: absolute;
    bottom:42px;
    right: -24px;
    transform:rotate(56deg);
}

.content .nav .left-nav-in,
.content .nav .right-nav-in{
    /*float: left;*/
    display: block;
    width: 70%;
    height: 70%;
    margin: 15%;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.content .nav .left-nav-in{
    color: #05516c;
    background: -webkit-linear-gradient(#3af3eb, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#3af3eb, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#3af3eb, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#3af3eb, #fff); /* 标准的语法（必须放在最后） */
}
.content .nav .right-nav-in {
    color: #630216;
    background: -webkit-linear-gradient(#ff6e45, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ff6e45, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#ff6e45, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ff6e45, #fff); /* 标准的语法（必须放在最后） */
}

.content .lamp {
    position: absolute;
    top: -130px;
    right: 190px;
    width: 148px;
    height: 107px;
    background: url("../images/index/index.png") no-repeat 0px -280px;
    background-size: cover;
    cursor: default;
    /* css3 动画 */
    animation: rocket 3s infinite linear;
    -moz-animation: rocket 3s infinite linear; /* Firefox */
    -webkit-animation: rocket 3s infinite linear; /* Safari and Chrome */
    -o-animation: rocket 3s infinite linear; /* Opera */
}

@keyframes rocket {
    0% {
        transform: scale(0.9) translate(50px, -50px);
        opacity: 0;
    }
    25% {
        transform: scale(1.1) translate(0px, 0px);
        opacity: 1;
    }
    50% {
        transform: scale(1.0) translate(-50px, 50px);
        opacity: 1;
    }
    75% {
        transform: scale(1.0) translate(-70px, 70px);
        opacity: 0;
    }
    76% {
        transform: scale(1.0) translate(-70px, 70px);
        opacity: 0;
    }
    100% {
        transform: scale(0.9) translate(100px, -100px);
        opacity: 0;
    }
}

.content .starb {
    position: absolute;
    bottom: 71%;
    left: 36.6%;
    width: 33px;
    height: 34px;
    background: url("../images/index/index.png") no-repeat 0px -180px;
    /* css3 动画 */
    animation: starb 3s infinite linear;
    -moz-animation: starb 3s infinite linear; /* Firefox */
    -webkit-animation: starb 3s infinite linear; /* Safari and Chrome */
    -o-animation: starb 3s infinite linear; /* Opera */
}

@keyframes starb {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.content .stars {
    position: absolute;
    bottom: 62.6%;
    right: 43%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: stars 3s infinite linear;
    -moz-animation: stars 3s infinite linear; /* Firefox */
    -webkit-animation: stars 3s infinite linear; /* Safari and Chrome */
    -o-animation: stars 3s infinite linear; /* Opera */
}

@keyframes stars {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.content .star-one {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: sider 3s infinite linear;
    -moz-animation: sider 3s infinite linear; /* Firefox */
    -webkit-animation: sider 3s infinite linear; /* Safari and Chrome */
    -o-animation: sider 3s infinite linear; /* Opera */
}

.content .star-two {
    position: absolute;
    bottom: 50%;
    left: 25%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: starsml 4s infinite linear;
    -moz-animation: starsml 4s infinite linear; /* Firefox */
    -webkit-animation: starsml 4s infinite linear; /* Safari and Chrome */
    -o-animation: starsml 4s infinite linear; /* Opera */
}

.content .star-three {
    position: absolute;
    top: 90%;
    left: 6%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: stars 3s infinite linear;
    -moz-animation: stars 3s infinite linear; /* Firefox */
    -webkit-animation: stars 3s infinite linear; /* Safari and Chrome */
    -o-animation: stars 3s infinite linear; /* Opera */
}

.content .star-four {
    position: absolute;
    top: 60%;
    left: 43%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: starsml 2s infinite linear;
    -moz-animation: starsml 2s infinite linear; /* Firefox */
    -webkit-animation: starsml 2s infinite linear; /* Safari and Chrome */
    -o-animation: starsml 2s infinite linear; /* Opera */
}

.content .star-five {
    position: absolute;
    bottom: 80%;
    left: 48%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: starsml 2s infinite linear;
    -moz-animation: starsml 2s infinite linear; /* Firefox */
    -webkit-animation: starsml 2s infinite linear; /* Safari and Chrome */
    -o-animation: starsml 2s infinite linear; /* Opera */
}

.content .star-six {
    position: absolute;
    bottom: 37%;
    left: 60%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: stars 3s infinite linear;
    -moz-animation: stars 3s infinite linear; /* Firefox */
    -webkit-animation: stars 3s infinite linear; /* Safari and Chrome */
    -o-animation: stars 3s infinite linear; /* Opera */
}

.content .star-seven {
    position: absolute;
    bottom: 17%;
    right: 25%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: starsml 2s infinite linear;
    -moz-animation: starsml 2s infinite linear; /* Firefox */
    -webkit-animation: starsml 2s infinite linear; /* Safari and Chrome */
    -o-animation: starsml 2s infinite linear; /* Opera */
}

.content .star-eight {
    position: absolute;
    bottom: 1%;
    right: 4%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: sider 3s infinite linear;
    -moz-animation: sider 3s infinite linear; /* Firefox */
    -webkit-animation: sider 3s infinite linear; /* Safari and Chrome */
    -o-animation: sider 3s infinite linear; /* Opera */
}

.content .star-nine {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: starsml 4s infinite linear;
    -moz-animation: starsml 4s infinite linear; /* Firefox */
    -webkit-animation: starsml 4s infinite linear; /* Safari and Chrome */
    -o-animation: starsml 4s infinite linear; /* Opera */
}

.content .star-ten {
    position: absolute;
    top: 11%;
    right: 27%;
    width: 26px;
    height: 28px;
    background: url("../images/index/index.png") no-repeat 0px -215px;
    /* css3 动画 */
    animation: stars 3s infinite linear;
    -moz-animation: stars 3s infinite linear; /* Firefox */
    -webkit-animation: stars 3s infinite linear; /* Safari and Chrome */
    -o-animation: stars 3s infinite linear; /* Opera */
}

@keyframes sidel {
    0% {
        transform: scale(0.6) translate(50px, -50px);
        opacity: 0;
    }
    25% {
        transform: scale(0.8) translate(0px, 0px);
        opacity: 0.8;
    }
    50% {
        transform: scale(0.6) translate(0px, 0px);
        opacity: 0;
    }
    100% {
        transform: scale(0.6) translate(50px, -50px);
        opacity: 0;
    }
}

@keyframes sider {
    0% {
        transform: scale(0.6) translate(50px, -50px);
        opacity: 0;
    }
    50% {
        transform: scale(0.6) translate(50px, -50px);
        opacity: 0;
    }
    75% {
        transform: scale(0.8) translate(0px, 0px);
        opacity: 0.8;
    }
    100% {
        transform: scale(0.8) translate(-50px, 50px);
        opacity: 0.8;
    }
}

@keyframes starsml { /* 2 */
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    20% {
        transform: scale(0.7);
        opacity: 0.8;
    }
    75% {
        transform: scale(0.7);
        opacity: 0.8;
    }
    100% {
        transform: scale(0.7);
        opacity: 0;
    }
}

.content .speaking-trumpet {
    position: absolute;
    top: -60px;
    left: 0;
    width: 97px;
    height: 100px;
    background: url("../images/index/index.png") no-repeat -50px -180px;
    cursor: default;
    /* css3 动画 */
    animation: astronaut 5s infinite linear;
    -moz-animation: astronaut 5s infinite linear; /* Firefox */
    -webkit-animation: astronaut 5s infinite linear; /* Safari and Chrome */
    -o-animation: astronaut 5s infinite linear; /* Opera */
}

@keyframes astronaut {
    0% {
        transform: rotate(0deg) scale(0.9);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg) scale(1.1);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg) scale(0.9);
    }
}

.content .ball1 {
    position: absolute;
    top: 120px;
    left: 330px;
    width: 102px;
    height: 66px;
    background: url("../images/index/index.png") no-repeat 0px -70px;
    /* css3 动画 */
    animation: ball 5s infinite linear;
    -moz-animation: ball 5s infinite linear; /* Firefox */
    -webkit-animation: ball 5s infinite linear; /* Safari and Chrome */
    -o-animation: ball 5s infinite linear; /* Opera */
}

@keyframes ball {
    0% {
        transform: scale(0.9);
    }
    /*10%  {transform: rotate(36deg);}*/
    /*20%  {transform: rotate(72deg);}*/
    /*30%  {transform: rotate(108deg);}*/
    /*40%  {transform: rotate(144deg);}*/
    50% {
        transform: scale(1.1);
    }
    /*60%  {transform: rotate(216deg);}*/
    /*70%  {transform: rotate(252deg);}*/
    /*80%  {transform: rotate(288deg);}*/
    /*90%  {transform: rotate(324deg);}*/
    100% {
        transform: scale(0.9);
    }
}

.content .ball2 {
    position: absolute;
    top: 130px;
    right: 560px;
    width: 61px;
    height: 41px;
    background: url("../images/index/index.png") no-repeat 0px -136px;
}

.add-top {
    width: 1055px;
    position: absolute;
    top: 61px;
    left: 0;
}

.add-top li {
    width: 211px;
    height: 188px;
    float: left;
    background: transparent;
}

.add-top li a {
    display: inline-block;
    width: 186px;
    height: 186px;
    z-index: 100;
    text-decoration: none;
}