@charset "utf-8";
html {
    height: 100%;
    background: #f6f6f6;
}

body {
    color: #999;
    font-size: 14px;
    min-height: 748px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

#header {
    height: 76px;
    background: #fff;
}

#personInfo {
    width: 1200px;
    height: 662px;
    /*position: relative;*/
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

#personInfo .nav-wrap {
    width: 264px;
    height: 662px;
    padding-top: 42px;
    background-color: #01A4F9;
    color: #333;
    border-radius: 5px;
    float: left;
}

#personInfo .nav-wrap .user-icon-left {
    width: 156px;
    height: 156px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    /*border: solid 5px #00a0e9;*/
    background: #01A4F9;
}

#personInfo .nav-wrap .user-icon-left #photo1 {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    text-align: center;
}

#personInfo .nav-wrap .user-name,
#personInfo .nav-wrap .student-id {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

#personInfo .nav-wrap .student-id {
    font-size: 16px;
    margin-top: 10px;
}

#personInfo .nav-wrap .hd {
    width: 264px;
    margin-top: 40px;
}

#personInfo .nav-wrap .hd span {
    display: block;
    width: 264px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#personInfo .nav-wrap .hd span:hover {
    text-decoration: none;
}

#personInfo .nav-wrap .hd .current {
    background: #fff;
    color: #00a0e9;
}

#personInfo .nav-wrap .hd span img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: -3px 10px 0 0;
    line-height: 64px;
    vertical-align: middle;
}

#personInfo #tabbd {
    float: left;
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

#personInfo::after,
#personInfo .form-group::after {
    content: "";
    display: block;
    clear: both;
}

/*#personInfo .header-container .exit .modal-dialog .modal-body p {*/
/*top: -57px;*/
/*left: 7px;*/
/*}*/

#personInfo #tabbd .tab-bd {
    /*#personInfo #tabbd li {*/
    display: none;
}

#personInfo #tabbd .info-title {
    width: 212px;
    height: 106px;
    margin: 20px auto 0;
    /*border-bottom: 5px solid #00a0e9;*/
}

#personInfo #tabbd .info-title .each-title {
    width: 212px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 106px;
    font-size: 30px;
    font-weight: 700;
    color: #00a0e9;
}

#personInfo #tabbd .info-title .each-title img {
    width: 36px;
    height: 26px;
    margin-right: 5px;
    vertical-align: middle;
}

#personInfo #tabbd .owner-message .modify-info {
    width: 212px;
    height: 193px;
    margin: 25px auto 0;
}

#personInfo #tabbd .owner-message .modify-info .user-icon-right {
    width: 136px;
    height: 136px;
    margin: 0 auto;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    background: #bfbfbf;
}

#personInfo #tabbd .owner-message .modify-info .big-meb-icon {
    width: 134px;
    height: 134px;
    border-radius: 50%;
}

#personInfo #tabbd .owner-message .modify-info .edit-head-icon {
    width: 184px;
    height: 50px;
    margin: 12px 0 0 15px;
    background: url(../../images/common/normal-button.png) no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    border: none;
    outline: none;
}

/*#personInfo #tabbd .owner-message .modify-info .edit-head-icon:hover {*/
/*transform: scale(1.1, 1.1);*/
/*}*/

#personInfo #tabbd .owner-message .modify-info .modal-dialog {
    width: 878px;
    height: 516px;
    margin-top: 10%;
}

#personInfo #tabbd .owner-message .modify-info .modal-dialog .modal-content {
    width: 878px;
    height: 516px;
}

/* .owner-message */
#personInfo #tabbd .modify-info .modal-header {
    width: 96%;
    padding: 0;
    height: 50px;
}

#personInfo #tabbd .owner-message .modify-info .modal-header button,
#personInfo #tabbd .owner-message .modify-info .modal-header h4 {
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    text-align: center;
    padding-right: 15px;
    color: #333;
}

#personInfo #tabbd .owner-message .modify-info .modal-header button {
    font-size: 32px;
}

/*  .owner-message */
#personInfo #tabbd .modify-info .modal-body {
    padding: 0 40px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .right {
    width: 230px;
    text-align: center;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-9 {
    width: 526px;
    height: 354px;
    padding: 0;
    /*margin: 0 309px 44px 42px;*/
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-9 .avatar-upload {
    width: 529px;
    height: 29px;
    border: none;
    background-color: #fff;
    line-height: 29px;
    text-align: left;
    font-size: 14px;
    color: #666;
}

/*#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-9 .local-img {
    width: 529px;
    height: 324px;
    background-color: #ff8003;
}*/

#personInfo #tabbd .owner-message .modify-info .modal-body #tabbd {
    width: 262px;
    height: 354px;
    padding-left: 20px;
    margin: 0 309px 44px 42px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body #tabbd p {
    height: 14px;
    margin-top: 22px;
    font-size: 14px;
    color: #333;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 {
    width: 266px;
    padding: 0 10px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .pre-view {
    margin-top: 24px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .imageHead {
    display: block;
    background: url("../../images/common/l-meb-icon.png") no-repeat center;
    background-size: 100% 100%;
    border-radius: 50%;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .big .imageHead {
    width: 168px;
    height: 168px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .big,
#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .mid,
#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .sml {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-left: 34px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .big {
    margin: 0 60px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .mid .imageHead {
    width: 97px;
    height: 97px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .col-md-3 .sml .imageHead {
    width: 75px;
    height: 75px;
    margin-top: 22px;
}

#personInfo #tabbd .owner-message .modify-info .modal-body .confirm {
    display: block;
    width: 110px;
    height: 36px;
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
    border: none;
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/*#personInfo #tabbd .owner-message .modify-info .modal-body .confirm:hover {*/
/*background: url("../../images/common/hover-button.png") no-repeat center center;*/
/*}*/

#personInfo #tabbd .owner-message .set-info {
    margin-top: 20px;
}

#personInfo #tabbd .owner-message .set-info div {
    width: 580px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    color: #666;
    font-size: 18px;
    margin: 5px auto;
}

#personInfo #tabbd .owner-message .set-info div input {
    width: 482px;
    height: 50px;
    margin-left: 18px;
    font-size: 18px;
    padding: 0 25px;
    border: 1px solid #adadad;
    color: #333;
    border-radius: 50px;
}

.sure {
    display: block;
    width: 184px;
    height: 50px;
    font-size: 16px;
    margin: 42px auto 0;
    line-height: 50px;
    color: #fff;
    border: none;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/*  .owner-message .set-info  */
/*#personInfo #tabbd .sure:hover {*/
/*transform: scale(1.1, 1.1);*/
/*}*/

#personInfo #tabbd .owner-message .set-info #sexSelect .sex {
    display: inline-block;
    margin-left: 20px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #333;
    cursor: pointer;
}

#personInfo #tabbd .owner-message .set-info #sexSelect .sex img {
    width: 16px;
    height: 15px;
    vertical-align: top;
    margin: 18px 15px 0 0;
}

#personInfo #tabbd .owner-message .set-info #sexSelect .sex:last-child {
    color: #999;
}

/*学校信息部分*/
#personInfo .school-message {
    user-select: none;
}

#personInfo .school-message .school-info {
    width: 790px;
    margin: 75px auto 0;
}

#mark-label1,
#mark-label2,
#mark-label3,
#mark-label4,
#mark-label5,
#mark-label6,
#mark-label7,
#mark-label8,
#mark-label9 {
    display: block;
    width: 150px;
    height: 51px;
    text-align: right;
    padding-right: 5px;
    line-height: 51px;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    float: left;
}

#region1,
#region2,
#region3 {
    width: 158px;
    height: 51px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 16px;
    font-weight: 300;
    color: #999;
    padding-left: 25px;
}

#school1,
#school2,
#school3,
#school4,
#school5,
#school6,
#school7 {
    width: 482px;
    height: 51px;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 16px;
    font-weight: 300;
    color: #999;
    padding-left: 25px;
}

#personInfo .school-message .form-group {
    width: 790px;
    margin-bottom: 15px;
}
#personInfo .school-message .form-group button{
    border-radius: 50px;
    padding-left: 25px;
}
#personInfo .school-message .in-3 {
    width: 158px;
    display: inline-block;
}

#personInfo .school-message .in-1 {
    width: 482px;
    display: inline-block;
}

/* 学校信息 底部按钮 */
#personInfo .school-message .sure {
    margin-top: 50px;
}

#change-classnum,
#change-classnum:focus {
    width: 65px;
    height: 51px;
    margin-left: 10px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    color: #00a0e9;
    outline: none;
}

#myModal {
    width: 526px;
    height: 400px;
    margin: 200px auto;
}

#myModal .modal-dialog {
    width: 494px;
    height: 400px;
    padding: 75px 0 0 0;
    margin: 0;
}

#myModal .modal-dialog .modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
}

#myModalLabel {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    line-height: 150px;
}

.modal-dialog .modal-header {
    width: 494px;
    height: 140px;
    margin: 0 auto;
    line-height: 72px;
    text-align: center;
    background: url("../../images/common/startbg.png") no-repeat center center;
    background-size: 100% 100%;
    border-bottom: none;
}

#personInfo #tabbd #myModal .modal-header button {
    color: #fff;
    line-height: 150px;
    font-size: 28px;
}

#personInfo #tabbd #myModal .close {
    width: 43px;
    height: 43px;
    margin-top: -52px;
    color: #fff;
    line-height: 0;
    font-size: 56px;
    text-shadow: none;
}

.modal-dialog .modal-body {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 15px 0 20px 20px;
}

.modal-dialog .modal-body .user-msg {
    width: 330px;
    height: 43px;
    background: transparent;
    padding: 15px 0 15px 13px;
    border: 1px solid #eee;
    color: #fff;
    font-size: 14px;
}

.modal-dialog .modal-body .user-msg::-webkit-input-placeholder {
    color: #fff;
}

.change-tips {
    display: none;
    margin-bottom: 12px;
    color: #eefd00;
    font-size: 14px;
    font-weight: 300;
}

#sure-change {
    width: 110px;
    height: 36px;
    border: none;
    outline: none;
    background: url('../../images/common/hover-button.png') no-repeat center center;
    background-size: 100% 100%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 6px 0;
}

/*#sure-change:hover {*/
/*background: url('../../images/common/hover-button.png') no-repeat center center;*/
/*background-size: 100% 100%;*/
/*}*/

/*编辑头像 模态窗*/
.modal-dialog .modal-body .pre-view {
    width: 100%;
    text-align: left;
    /*height: 40px;*/
    margin-top: 24px;
}

.modal-dialog .modal-body .right > div {
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
}

.modal-dialog .modal-body .preImg-mid {
    float: left;
    margin-left: 10px;
}

.modal-dialog .modal-body .preImg-sml {
    margin-top: 29px;
    margin-right: 10px;
    float: right;
}

.modal-dialog .modal-body .preImg-big img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
}

.modal-dialog .modal-body .preImg-mid img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.modal-dialog .modal-body .preImg-sml img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.modal-dialog .modal-body p:nth-of-type(2) {
    margin-top: 15px;
}

.modal .modal-dialog .modal-content .modal-footer {
    text-align: center;
    border-top: none;
}

/* 账户信息部分 */
.change-user-info {
    width: 900px;
    height: 445px;
    margin: 60px auto 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.change-user-info::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.change-user-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.change-user-info::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

#personInfo #tabbd .user-message .blocks {
    width: 700px;
    height: 64px;
    margin: 90px auto 0;
}

#personInfo #tabbd .user-message .blocks:first-of-type {
    margin-top: 35px;
}

#personInfo #tabbd .user-message .blocks .toggle-phone,
#personInfo #tabbd .user-message .blocks .toggle-pwd {
    font-size: 14px;
    cursor: pointer;
}

#personInfo #tabbd .user-message .blocks span {
    display: inline-block;
    color: #333;
}

#personInfo #tabbd .user-message .blocks .indicator {
    width: 17px;
    height: 17px;
    border: 1px solid #11d8fc;
    border-radius: 50%;
    margin-top: 5px;
}

#personInfo #tabbd .user-message .blocks .cyan {
    background-color: #11d8fc;
}

#personInfo #tabbd .user-message .blocks .link-phone,
#personInfo #tabbd .user-message .blocks .login-psd {
    width: 428px;
    margin-left: 14px;
    font-size: 18px;
}

#personInfo #tabbd .user-message .blocks .link-phone-info,
#personInfo #tabbd .user-message .blocks .login-psd-info {
    width: 428px;
    margin-left: 34px;
    line-height: 36px;
    font-size: 16px;
}

#personInfo #tabbd .user-message .blocks .fr {
    float: right;
    width: 184px;
    height: 50px;
    font-size: 16px;
    margin: -17px auto 0;
    line-height: 50px;
    color: #fff;
    text-align: center;
    border: none;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/*  .owner-message .set-info  */
/*#personInfo #tabbd .user-message .blocks .fr:hover {*/
/*transform: scale(1.1, 1.1);*/
/*}*/

/* 手机绑定表单样式 */

#personInfo #tabbd .user-message .login-form {
    width: 614px;
    height: 325px;
    margin: 20px auto 0;
}

#personInfo .user-message .login-form p {
    width: 614px;
    height: 35px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #ff8003;
}

#personInfo #tabbd .user-message .login-form .login-form-info > span {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #333;
    font-size: 17px;
    font-weight: 300;
}

#personInfo #tabbd .user-message .login-form .login-form-info > input {
    width: 458px;
    height: 50px;
    padding-left: 24px;
    margin: 6px;
    border: 1px solid #adadad;
    border-radius: 50px;
}

#personInfo #tabbd .user-message .login-form .login-form-info > input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #999;
}

#personInfo #tabbd .user-message .login-form .login-form-info > input.verification-code {
    width: 30%
}

#personInfo #tabbd .user-message .login-form .login-form-info .get-verification-code {
    width: 150px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#personInfo #tabbd .user-message .login-form .login-form-info .get-verification-code:hover {
    color: #ff8003;
}

#personInfo #tabbd .user-message .login-form .warms {
    display: none;
    height: 34px;
    margin-top: 26px;
    line-height: 34px;
    text-align: center;
    color: #f00;
}

#personInfo #tabbd .user-message .login-form .confirm {
    display: block;
    width: 184px;
    height: 50px;
    font-size: 16px;
    margin: 10px auto 0;
    line-height: 36px;
    color: #fff;
    text-align: center;
    border: none;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/*#personInfo #tabbd .user-message .login-form .confirm:hover {*/
/*transform: scale(1.1, 1.1);*/
/*}*/

/* 模态框 */

#personInfo .login-form .modal .modal-dialog {
    position: relative;
    width: 390px;
    height: 125px;
    margin: 332px auto;
}

#personInfo .login-form .modal .modal-dialog .modal-content {
    position: relative;
    width: 390px;
    height: 125px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
}

.login-form .modal .modal-dialog .modal-content p {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    line-height: 52px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ff8003;
}

.login-form .modal .modal-dialog .modal-content span {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #333;
}

/* .owner-message .set-info */
#personInfo #tabbd #suremsg,
#personInfo #tabbd #schoolInfo {
    width: 494px;
    height: 400px;
    margin: 200px auto;
}

#personInfo #tabbd #suremsg .modal-dialog,
#personInfo #tabbd #schoolInfo .modal-dialog {
    width: 494px;
}

#personInfo #tabbd #suremsg .modal-dialog,
#personInfo #tabbd #suremsg .modal-content,
#personInfo #tabbd #schoolInfo .modal-dialog,
#personInfo #tabbd #schoolInfo .modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
}

#personInfo #tabbd #suremsg .modal-header,
#personInfo #tabbd #schoolInfo .modal-header {
    width: 494px;
    height: 140px;
}

#personInfo #tabbd #suremsg .modal-content .modal-title,
#personInfo #tabbd #schoolInfo .modal-content .modal-title {
    width: 494px;
    color: #fff;
    text-shadow: 0 0 6px rgba(79, 198, 252, 0.25);
    font-size: 30px;
    text-align: center;
    margin: -40px 0 0 -50px;
    padding: 0;
}

#personInfo #tabbd #suremsg .modal-content .modal-footer #sure-msg,
#personInfo #tabbd #schoolInfo .modal-content .modal-footer #schoolMsg{
    background: url(../../images/common/hover-button.png) no-repeat center center;
    background-size: 100% 100%;
    outline: none;
    border: none;
    width: 148px;
    height: 39px;
    margin-left: 130px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
}
#personInfo #tabbd #schoolInfo .modal-content .modal-footer #schoolMsg{
    margin-left: -60px;
}

/*修改手机号弹窗*/
#personInfo .change-user-info .phone-change,
#personInfo .change-user-info .bs-example-modal-sm {
    width: 494px;
    height: 400px;
    border: none;
    margin: 11% 0 0 34%;
    box-shadow: none;
}

#personInfo .change-user-info .phone-change .modal-dialog,
#personInfo .change-user-info .bs-example-modal-sm .modal-dialog {
    width: 494px;
    height: 400px;
    border: none;
    margin: 0;
    background: transparent;
    box-shadow: none;
}

#personInfo .change-user-info .phone-change .modal-dialog .modal-content,
#personInfo .change-user-info .bs-example-modal-sm .modal-dialog .modal-content {
    width: 494px;
    height: 400px;
    border: none;
    margin: 0;
    background: transparent;
}

#personInfo .change-user-info .phone-change .modal-dialog .modal-content .modal-header,
#personInfo .change-user-info .bs-example-modal-sm .modal-dialog .modal-content .modal-header {
    width: 494px;
    height: 140px;
    background: url("../../images/common/startbg.png") no-repeat center center;
    background-size: 100% 100%;
    border: none;
}

#personInfo .phone-change .modal-dialog .modal-content .modal-body,
#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-body {
    width: 494px;
    height: 130px;
    margin-top: -50px;
}

#personInfo .phone-change .modal-dialog .modal-content .modal-body .phone-tips,
#personInfo .phone-change .modal-dialog .modal-content .modal-body .tips-of-change,
#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-body .pwd-tips,
#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-body .tips-of-pwd {
    width: 454px;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 5.5px rgba(79, 198, 252, 0.25);
}

#personInfo .phone-change .modal-dialog .modal-content .modal-body .tips-of-change,
#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-body .tips-of-pwd {
    font-size: 14px;
    margin-top: 0;
}

#personInfo .phone-change .modal-dialog .modal-content .modal-footer .btn,
#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-footer .btn {
    width: 110px;
    height: 36px;
    color: #fff;
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/*#personInfo .phone-change .modal-dialog .modal-content .modal-footer .btn:hover,*/
/*#personInfo .bs-example-modal-sm .modal-dialog .modal-content .modal-footer .btn:hover {*/
/*background: url("../../images/common/hover-button.png") no-repeat center center;*/
/*background-size: 100% 100%;*/
/*}*/

.name-tips {
    height: 20px;
    text-align: center;
    color: #e20000;
    font-size: 14px;
    margin-bottom: -25px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 18px;
}

.text-message {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -197px;
    width: 393px;
    height: 122px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 19px 2px rgba(1, 23, 78, 0.16);
    font-size: 16px;
    display: none;
}

.text-message .tips-message {
    text-align: center;
    color: #333;
    line-height: 85px;
}

.text-message .tips-btn {
    width: 104px;
    height: 30px;
    margin-left: 146px;
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}
