body {
    color: #999;
    font-size: 18px;
    min-height: 748px;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

.outs {
    width: 100%;
    height: 100%;
    background: url("../../images/common/background.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

#nav,
#class-list,
#footer,
.class-wrap li,
.class-wrap li p {
    float: left;
}

.class-wrap li::after,
.class-wrap li .center-info::after {
    content: "";
    display: block;
    clear: both;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#class-list {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

.overstep {
    width: 94%;
    height: 528px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 70px auto 0;
}

.overstep::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.overstep::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.overstep::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

.class-wrap {
    width: 890px;
    height: 508px;
    margin: 0 auto 0;
}

.class-wrap li {
    width: 422px;
    height: 233px;
    margin: 3px 14px 14px 3px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding-top: 35px;
    position: relative
}

.class-wrap li:hover {
    box-shadow: 0 0 7px 1px rgba(0, 160, 233, 0.28);
}

.class-wrap li:nth-last-of-type(2n-1) {
    margin-left: 3px;
}

.class-wrap li .center-info {
    width: 300px;
    margin: 0 auto;
}

.class-wrap li .center-info p {
    width: 50%;
    height: 20px;
    line-height: 20px;
}

.class-wrap li .center-info p:nth-of-type(3),
.class-wrap li .center-info p:nth-of-type(6) {
    text-align: right;
    margin-right: 3%;
}

.class-wrap li .center-info p:nth-of-type(3),
.class-wrap li .center-info p:nth-of-type(6),
.class-wrap li .center-info p:nth-of-type(4),
.class-wrap li .center-info p:nth-of-type(7) {
    color: #666;
}

.class-wrap li .center-info .completed-work,
.class-wrap li .center-info .completed-exam {
    text-align: center;
    width: 30%;
}

.class-wrap li .center-info .completed-work {
    margin-top: 30px;
}

.class-wrap li .center-info .completed-work span,
.class-wrap li .center-info .completed-exam span {
    margin-left: 5px;
}

.disfinal {
    color: #f08118;
    font-weight: bold;
}

.class-wrap li .center-info .completed-exam {
    margin-top: 25px;
}

.class-wrap li .center-info .class-name {
    color: #00a0e9;
    width: 100%;
    text-align: center;
}

.class-wrap li .center-info .class-name .class-number {
    letter-spacing: 1.1px;
}

.class-wrap li .center-info .class-name .no-sign {
    color: #999;
    margin: 0 5px;
}

.class-wrap li .center-info .finished-work,
.class-wrap li .center-info .finished-exam,
.class-wrap li .center-info .class-name .class-number,
.add-notice {
    color: #f08118;
}

.class-wrap li .center-info .enter-class {
    width: 130px;
    height: 30px;
    font-size: 14px;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin: 30px 0 0 90px;
}

.class-wrap li .center-info .enter-class:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

.class-wrap li .center-info .withdraw-class {
    /*float: right;*/
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url("../../images/myclass/delete.png");
}

.class-wrap li .center-info .class-disbanded {
    width: 90px;
    height: 89px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.class-wrap li .center-info .class-add {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 25px 0 30px 120px;
    cursor: pointer;
    user-select: none;
}

.class-wrap li .center-info .add-text {
    width: 100%;
    float: none;
    font-size: 16px;
    font-weight: normal;
    color: #36b0ed;
    cursor: pointer;
    text-align: center;
}

.add-notice {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.without-class {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    display: none;
}

.without-class .without-content {
    width: 494px;
    height: 500px;
    margin: 10% auto 0;
    background-color: transparent;
    color: #fff;
}

.without-class .without-header {
    width: 100%;
    height: 140px;
    background: url("../../images/common/startbg.png") no-repeat center center;
    background-size: 100% 100%;
}

.without-class .without-body {
    width: 90%;
    height: 100px;
    margin: 10px auto 0;
    font-size: 24px;
    line-height: 35px;
}

.without-class .without-body .append-class {
    width: 300px;
    height: 40px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    padding-left: 10px;
}

.without-class .without-body .append-class::-webkit-input-placeholder {
    color: #fff;
}

.without-class .without-footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.without-class .without-footer button {
    width: 110px;
    height: 36px;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    outline: none;
    border: none;
}

.without-class .without-footer button:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

.page-wrap {
    position: relative;
    width: 848px;
    margin: 35px auto 0;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

.page-wrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.paging {
    display: inline-block;
}

.paging .up,
.paging .down {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.paging .toggles {
    float: left;
    margin: 0 10px;
}

.paging .toggles li {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    color: #999;
    float: left;
    cursor: pointer;
}

.paging .toggles .col {
    background-color: #4fc6fc;
    color: #fff;
    border: none;
}

.empty-class {
    width: 100%;
    height: 80%;
}

.empty-class p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.empty-class .empty-title {
    font-size: 28px;
    color: #333;
}

.empty-class p span {
    color: #ffcf1c;
}

.empty-class p input {
    width: 330px;
    height: 51px;
    border: 1px solid #999;
    outline: none;
    padding-left: 5px;
    margin-right: 20px;
}

.empty-tips {
    color: red;
}

.add-button {
    width: 110px;
    height: 36px;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    border: none;
    outline: none;
    color: #fff;
}

.add-button:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

.empty-class p .blue {
    color: #00a0e9;
}