body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#exam-report {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

#exam-report .report-banner .main .exam-date,
#exam-report .report-banner .main .final-time,
#exam-report .report-banner .main .start-time,
#exam-report .report-banner .main li,
.paging .up,
.paging .down,
.paging .toggles,
.paging .toggles li,
#nav,
#exam-report,
#footer {
    float: left;
}

#exam-report .report-banner .main::after,
.paging .toggles::after,
.paging .toggles::before,
.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#exam-report .screen {
    width: 856px;
    height: 22px;
    margin: 35px auto 0;
    font-weight: 300;
}

#exam-report .screen span {
    font-size: 16px;
    vertical-align: middle;
}

#exam-report .screen .btn {
    font-size: 16px;
    padding: 0 6px;
    height: 22px;
    border: none;
    outline: none;
    background: #fff;
}

#exam-report .screen .btn-primary {
    background: #00a0e9;
    color: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#exam-report .report-banner {
    width: 870px;
    height: 495px;
    overflow: hidden;
    margin: 27px auto 0;
}

#exam-report .report-banner .main li {
    width: 422px;
    height: 233px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin: 8px 0 0 8px;
    text-align: center;
}

#exam-report .report-banner .main li:hover {
    box-shadow: 0 0 7px 1px rgba(0, 160, 233, 0.28);
}

#exam-report .report-banner .main .topic {
    width: 90%;
    margin: 30px auto 0;
    font-size: 18px;
    color: #00a0e9;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#exam-report .report-banner .main .examiner,
#exam-report .report-banner .main .score-and-rank {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    height: 40px;
}

#exam-report .report-banner .main .examiner {
    line-height: 40px;
}

#exam-report .report-banner .main .exam-date {
    width: 100%;
    font-size: 12px;
    color: #999;
    margin-top: 30px;
}

#exam-report .report-banner .main .start-time {
    width: 50%;
    text-align: left;
    font-size: 12px;
    padding-left: 40px;
    margin-top: 30px;
}

#exam-report .report-banner .main .final-time {
    font-size: 12px;
    text-align: right;
    width: 50%;
    padding-right: 40px;
    margin-top: 30px;

}

#exam-report .report-banner .main .enter-exam,
#exam-report .report-banner .main .enter-report {
    display: block;
    width: 106px;
    height: 30px;
    margin: 15px auto 0;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#exam-report .report-banner .main .enter-exam:hover,
#exam-report .report-banner .main .enter-report:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
    text-decoration: none;
}

#exam-report .report-banner .main .enter-report {
    margin-top: 15px;
}

#exam-report .report-banner .main .complete-number {
    color: #f08118;
}

#exam-report .report-banner .main .complete-score {
    color: #f08118;
    font-size: 30px;
    margin-left: -13px;
}

#exam-report .report-banner .main .score-rank {
    color: #f08118;
    font-size: 30px;
}

#exam-report .report-banner .main .complete-rank {
    margin-left: 50px;
}

.page-wrap {
    position: relative;
    width: 848px;
    margin: 35px auto 0;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

.page-wrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.paging {
    display: inline-block;
}

.paging .up,
.paging .down {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.paging .toggles {
    float: left;
    margin: 0 10px;
}

.paging .toggles li {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    color: #999;
    float: left;
    cursor: pointer;
}

.paging .toggles .col {
    background-color: #4fc6fc;
    color: #fff;
    border: none;
}

.empty-all {
    width: 180px;
    margin: 165px auto 0;
}

.empty-all img {
    width: 180px;
    height: 160px;
}

.empty-all .empty-text {
    width: 180px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #999;
}
