.report-title::after,
.report-title .report-details::after,
.report-title .report-comment::after,
.report-top::after,
.report-top .word-degree::after,
.report-top .sentences-degree::after,
.spell-list .prompt::after,
.cosplay-list .cos-content .cos-score::after,
.report-title::after,
.report-content::after,
.spell-list #homework_type_5::after,
.report-title .report-details .detail-bottom::after,
.report-title .report-details .detail-top::after {
    content: "";
    display: block;
    clear: both;
}

.report-title .report-details,
.report-title .report-details li,
.report-title .report-comment,
.report-content .report-tabs li,
.report-content .report-wrap li,
.report-top .word-degree p,
.report-top .sentences-degree,
.report-top .sentences-degree p,
.report-content .report-wrap .word-list .content,
.report-content .report-wrap .spell-list .prompt .error,
.report-content .report-wrap .spell-list #homework_type_5_1,
.report-content .report-wrap .spell-list .prompt .correct {
    float: left;
}

.report {
    width: 850px;
    margin: 0 auto;
}

.report-title {
    width: 850px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.report-title .back {
    width: 26px;
    height: 21px;
    cursor: pointer;
    margin-left: -28px;
}

.report-title .report-details {
    width: 512px;
    height: 133px;
    padding-top: 33px;
}

.report-title .report-details li {
    position: relative;
    width: 100px;
    margin-left: 25px;
    text-align: center;
}

.report-title .report-details .detail-top li {
    height: 51px;
}

.report-title .report-details li:last-of-type {
    margin-left: 0;
    width: 200px;
}

.report-title .report-details li:first-of-type {
    margin-left: 30px;
}

.report-title .report-details li:last-of-type img {
    height: 8px;
    margin-top: -40px;
}

.report-title .report-details .colorfulo {
    color: #f08118;
    font-size: 36px;
    font-weight: 600;
}

.report-title .report-details .colorfulob {
    color: #00a0e9;
    font-size: 14px;
    font-weight: 300;
}

.report-title .report-details .detail-bottom li {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

.report-title .report-comment {
    width: 318px;
    height: 133px;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 160, 233, 0.06);
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-align: center;
}

.report-title .report-comment .comment-text {
    width: 280px;
    height: 133px;
    display: flex;
    margin: 0 auto;
    color: #999;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
}

.report-content {
    width: 850px;
}

.report-content .tabs-wrap {
    width: 850px;
    height: 52px;
    margin: 0 auto;
    text-align: center;
}

.tabs-wrap::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.report-tabs {
    display: inline-block;
}

.report-content .report-tabs > li {
    width: 165px;
    height: 46px;
    background-color: #cbefff;
    border-radius: 5px;
    line-height: 46px;
    font-size: 18px;
    color: #999;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.report-content .report-tabs .tabs-col {
    color: #fff;
    background-color: #4fc6fc;
    background-size: 100% 100%;
}

.report-content .report-wrap {
    width: 850px;
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.report-content .report-wrap li {
    width: 830px;
    height: 340px;
    display: none;
}

.report-content .report-wrap::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

.report-content .report-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.report-content .report-wrap::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

.report-content .report-wrap .word-list {
    width: 830px;
    margin-bottom: 20px;
}

.report-top {
    width: 830px;
    height: 40px;
    margin-bottom: 10px;
}

.report-top .sentences-degree {
    width: 530px;
}

.report-top .sentences-degree p {
    width: 150px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.report-top .word-degree {
    width: 275px;
    float: right;
}

.report-top .word-degree p {
    width: 90px;
    font-size: 14px;
    color: #999;
}

.report-top progress {
    margin-left: 2px;
    width: 87px;
    height: 8px;
    border-radius: 10px;
}

.report-top progress::-webkit-progress-bar {
    border-radius: 10px;
    background: #eee;
}

.report-top progress::-webkit-progress-value {
    border-radius: 10px;
    background: #fd1021;
}

.report-top .sentences-degree p progress.fluency::-webkit-progress-value {
    background: #2aaff3;
}

.report-top .sentences-degree p progress.integrity::-webkit-progress-value {
    background: #00d35b;
}

.report-top .word-degree p {
    width: 80px;
}
.report-top .word-degree p img{
    vertical-align: middle;
    margin-top: -2px;
}

.report-content b {
    font-weight: 300;
}

.report-content .report-wrap .content {
    font-size: 18px;
}

.report-content .report-wrap .word-list .content {
    width: 33.33%;
    padding: 1% 0 1% 5%;
}

.report-content .report-wrap .word-list .content img {
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.border-color-yellow,
.border-color-green,
.border-color-red {
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
}

.border-color-red {
    color: #fd1021;
    border: 1px solid #fd1021;
}

.border-color-yellow {
    color: #2aaff3;
    border: 1px solid #2aaff3;
}

.border-color-green {
    color: #00d35b;
    border: 1px solid #00d35b;
}

.report-content .report-wrap .word-list .content .word-score {
    display: inline-block;
    margin: -7px 0 0 10px;
}

.report-content .report-wrap .cosplay-list .cos-content .cos-score {
    float: right;
}

.report-content .report-wrap .sentences-list .content {
    border-bottom: 1px solid #eee;
    margin: 0 15px 0;
    padding: 10px 0;
}

.report-content .report-wrap .sentences-list .content img {
    vertical-align: middle;
    margin: -3px 5px 0 0;
    cursor: pointer;
}

.report-content .report-wrap .sentences-list .content .sentences-score {
    float: right;
}

.report-content .report-wrap .text-list .content {
    border-bottom: 1px solid #eee;
    margin: 0 15px 0;
    padding: 10px 0;
}

.report-content .report-wrap .text-list .content img {
    margin: -3px 5px 0 0;
    cursor: pointer;
    vertical-align: middle;
}

.report-content .report-wrap .text-list .content .text-score {
    float: right;
    margin: 0 30px 0 0;
}

.report-content .report-wrap .cosplay-list .cos-content {
    width: 100%;
    font-weight: 600;
}

.report-content .report-wrap .cosplay-list .job-list {
    border: 1px solid transparent;
    width: 100%;
}

.report-content .report-wrap .cosplay-list .job-list .cos-title {
    width: 100%;
    font-size: 14px;
    margin: 10px 0 5px 16px;
}

.report-content .report-wrap .cosplay-list .job-list .cos-title .role-name {
    margin-left: 5px;
    color: #1e9fff;
    font-weight: 500;
    font-size: 16px;
}

.report-content .report-wrap .cosplay-list .cos-content .content {
    border-bottom: 1px solid #eee;
    margin: 0 15px 0;
    padding: 10px 0;
}

.report-content .report-wrap .cosplay-list .cos-content img {
    vertical-align: middle;
    margin: -8px 5px 0 0;
    cursor: pointer;
}

.report-content .green {
    color: #00d35b;
    font-weight: 600;
}

.report-content .orange {
    color: #2aaff3;
    font-weight: 600;
}

.report-content .red {
    color: #fd1021;
    font-weight: 600;
}

.report-content .report-wrap .spell-list .prompt {
    float: right;
    margin: 2%;
}

.report-content .report-wrap .spell-list .prompt .error {
    color: #fd1021;
    margin-right: 20px;
}

.report-content .report-wrap .spell-list .prompt .correct {
    color: #00d35b;
}

.report-content .report-wrap .spell-list #homework_type_5_1 {
    width: 100%;
}

.report-content .report-wrap .spell-list .spell-word {
    display: inline-block;
    margin: 15px 0 0 8px;
    text-align: center;
    padding: 1% 2%;
    font-size: 18px;
    border: 1px solid #d2d2d2;
    color: #00d35b;
    font-weight: 600;
}
