body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
    padding: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

.modal-backdrop {
    display: none;
}

.bs-example-modal-lg.next-modal,
.fundamental-one,
.record-fail {
    background-color: rgba(0, 0, 0, .6);
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#notice {
    width: 1200px;
    height: 605px;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

#nav, #nav1 {
    width: 275px;
    height: 602px;
}

#notice .wrap {
    width: 1200px;
    height: 602px;
    min-width: 1200px;
    min-height: 600px;
    margin: 17px auto 0;
    background: #fff;
    border-radius: 8px;
}

.student-notice .title {
    height: 100px;
    line-height: 225px;
    text-align: center;
    font-size: 30px;
    color: #00a0e9;
}

.student-notice .notice-text {
    width: 750px;
    height: 300px;
    background: url("../../images/simulationExam/info-bg.png") no-repeat center center;
    background-size:100% 100%;
    margin: 65px auto 0;
    padding: 0 20px 20px;
    line-height: 26px;
    font-size: 16px;
    color: #666;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.student-notice .notice-text .content {
    width: 700px;
    height: 270px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
}

.student-notice .notice-text::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.student-notice .notice-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.student-notice .notice-text::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

.student-notice .next {
    display: block;
    border: none;
    outline: none;
    line-height: 36px;
    text-align: center;
    width: 146px;
    height: 36px;
    color: #fff;
    font-size: 16px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -55px;
}

.student-notice .next:hover {
    text-decoration: none;
}

.student-notice::after,
.student-notice .next::after {
    content: "";
    display: block;
    clear: both;
}

.content-bg .content-in {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    padding: 50px 100px;
}

.content-bg .content-in .title {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #00a0e9;
}

.content-bg .content-in .title .ip {
    line-height: 90px;
    color: #333;
    font-size: 18px;
}

.content-bg .content-in .main {
    width: 100%;
    height: 400px;
    position: relative;
}

.content-bg .content-in .main .description {
    height: 60px;
    line-height: 70px;
    font-size: 24px;
    color: #333;
}

.content-bg .content-in .main .eg {
    font-size: 30px;
    color: #11d8fc;
    font-weight: 700;
}

.content-bg .content-in .main .btns {
    width: 160px;
    height: 70px;
    margin: 50px auto;
}

.content-bg .content-in .main .btns div {
    width: 40px;
    margin: 0 20px;
    float: left;
    cursor: pointer;
}

.content-bg .content-in .main .btns div img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content-bg .content-in .main .btns .record img {
    width: 40px;
    height: 40px;
}

.content-bg .content-in .main .btns div span {
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.content-bg .content-in .main .clear-btn {
    width: 440px;
    height: 37px;
    margin: 60px auto 0;
}

.content-bg .content-in .main .clear-btn .buttons {
    width: 136px;
    height: 36px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 44px;
    border: none;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.content-bg .content-in .main .clear-btn .readonly {
    width: 110px;
    height: 36px;
    border: none;
    border-radius: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.content-bg .content-in .main .volume {
    height: 60px;
    margin-top: 50px;
    padding-left: 60px;
}

.content-bg .content-in .main .volume p {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #ccc;
}

/* volume bar start */
.rangeslider,
.rangeslider__fill {
    background: #e6e6e6;
    display: block;
    height: 6px;
    width: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.rangeslider {
    position: relative;
}

.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    background: #ccc;
    position: absolute;
    top: 0;
}

.rangeslider__handle {
    background: white;
    cursor: pointer;
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -15px;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.volume-bar {
    width: 820px;
    padding-left: 48px;
    padding-top: 18px;
    position: relative;
}

.volume-bar output {
    color: #ccc;
    position: absolute;
    top: 6px;
    right: -40px;
}

/* volume bar end */
.content-bg .content-in .main .finish {
    display: block;
    width: 110px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size:100% 100%;
    margin-top: 80px;
    cursor: pointer;
}

.content-bg .content-in .main .finish:hover {
    text-decoration: none;
}

.exam-first #simulation-exam {
    background-color: #fff;
}

.exam-first #simulation-exam,
.start-exam #question-content {
    width: 914px;
    height: 602px;
    position: absolute;
    top: 0;
    left: 285px;
    background: url("../../images/simulationExam/conten-bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    border-radius: 4px;
}

.start-answer {
    height: 595px;
}

.prepare-exam-exam {
    margin-left: 12px;
    width: 900px;
    height: 602px;
}

.prepare-exam .paper-name {
    width: 100%;
    margin: 0 auto;
    padding-top: 198px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00a0e9;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.prepare-exam .start-answer {
    display: block;
    width: 136px;
    height: 36px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 44px;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 36px;
    margin: 116px auto;
    font-size: 18px;
    cursor: pointer;
}

#notice .wrap:first-of-type {
    position: relative;
    padding-bottom: 70px;
    height: 100%;
    min-height: 605px;
    background: url("../../images/simulationExam/conten-bg.jpg") no-repeat center center;
    background-size:100% 100%;
    border-radius: 4px;
}

#notice .wrap {
    display: none;
    background-color: transparent;
    position: relative;
}

#notice .student-notice,
#notice .content-bg {
    background: url("../../images/simulationExam/conten-bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    border-radius: 4px;
}

.start-exam .exam-title::after {
    content: "";
    display: block;
    clear: both;
}

.start-exam .question-answer {
    min-width: 900px;
    height: 602px;
    overflow: hidden;
    background: url("../../images/simulationExam/conten-bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    border-radius: 4px;

}

.start-exam .start-answer {
    color: #333;
    font-size: 14px;
    padding-left: 24px;
    min-width: 900px;
    height: 602px;
    float: left;
    position: relative;
    top: 0;
}

.start-exam .start-answer .exam-title {
    height: 50px;
}

.start-exam .start-answer .exam-title .exam-subject {
    font-size: 18px;
    height: 49px;
    margin: 19px 0 0 11px;
    line-height: 49px;
    float: left;
}

.start-exam .start-answer .count-wrap {
    height: 49px;
    font-size: 16px;
    margin-right: 50px;
    position: relative;
    float: right;
}

.start-exam .start-answer .count-wrap .count-down {
    width: 50px;
    height: 49px;
    vertical-align: middle;
}

.start-exam .start-answer .count-wrap .counts {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #999;
}

.start-exam .start-answer .count-wrap .counts .count-time {
    font-size: 15px;
    margin-right: 3px;
    color: #1e9fff;
}

.start-exam .start-answer .exam-topic {
    width: 97%;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin-top: 27px;
    padding: 18px;
    font-size: 14px;
    line-height: 28px;
    color: #00a0e9;
}

.start-exam .start-answer .exam-question {
    margin: 40px 0 0 10px;
    font-size: 16px;
    color: #004098;
}

/* 填空题图片样式 */
.start-exam .start-answer .fill-in {
    width: 97%;
    max-height: 300px;
    margin: 10px 0;
    overflow-y: scroll;
}
.start-exam .start-answer .fill-in::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.start-exam .start-answer .fill-in::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.start-exam .start-answer .fill-in::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

.start-exam .start-answer .fill-in-img {
    width: 90%;
}

.start-exam .start-answer .exam-problems,
.start-exam .start-answer .exam-test {
    font-size: 16px;
    margin-top: 8px;
    padding: 10px;
    line-height: 30px;
}

.start-exam .start-answer .exam-test {
    margin-top: 0;
    padding: 0 15px;
}

.start-exam .start-answer .exam-recording {
    margin: 100px 0 0 0;
    text-align: center;
}

.start-exam .start-answer .exam-recording img {
    border-radius: 50%;
    cursor: pointer;
}

.start-exam .start-answer .on img {
    animation: recording 2s infinite;
    -webkit-animation: recording 2s infinite; /*Safari and Chrome*/
    -moz-animation: recording 5s infinite; /* Firefox */
    -o-animation: recording 5s infinite; /* Opera */
}

@keyframes recording {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes recording /*Safari and Chrome*/
{
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-moz-keyframes recording /* Firefox */
{
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-o-keyframes recording /* Opera */
{
    from {
        -o-transform: scale(1.5) rotate(10deg);
    }
    to {
        background: yellow;
    }
}

.start-exam .start-answer .exam-recording img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.start-exam .start-answer .exam-recording .recording-text {
    color: #999;
    margin: 15px 0 0 0;
}

.start-exam .start-answer .choice-answer {
    color: #333;
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 20px;
    display: block;
}

.start-exam .start-answer .choice-answer input {
    margin-left: 15px;
    cursor: pointer;
}

.start-exam .start-answer .have-underline {
    border: none;
    outline: none;
    text-align: center;
    width: 100px;
    border-bottom: 1px solid #333;
}

.start-exam .start-answer .fill-blanks {
    margin-top: 18px;
    width: 765px;
    color: #333;
    font-size: 16px;
    border-color: #d2d2d2;
}

.start-exam .start-answer .fill-blanks .quest-num {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 5px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.start-exam .start-answer .fill-blanks th {
    height: 52px;
    text-align: center;
}

.start-exam .start-answer .fill-blanks tr td:nth-of-type(2) {
    padding: 14px 0 10px 18px;
}

.start-exam .start-answer .submit-papers {
    display: none;
    width: 110px;
    height: 36px;
    margin: 26px auto 0;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}

.start-exam .start-answer .submit-papers:hover {
    color: #fff;
    text-decoration: none;
}

.start-exam .modal-content {
    width: 530px;
    height: 310px;
    margin: 150px auto;
    border: none;
}

.start-exam .modal-content .modal-header {
    height: 55px;
    text-align: center;
    background-color: #355d94;
    color: #fff;
    font-size: 24px;
    border: none;
}

.start-exam .modal-content .modal-header .modal-title {
    line-height: 1;
}

.start-exam .modal-content .modal-header .close span {
    color: #fff;
}

.start-exam .modal-content .modal-body {
    height: 180px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #355d94;
}

.start-exam .modal-content .modal-body .more-line {
    margin-top: 20px;
    line-height: 30px;
    padding: 30px;
}

.start-exam .modal-content .modal-footer {
    width: 380px;
    border: none;
    text-align: center;
    margin: 0 auto;
}

.start-exam .modal-content .modal-footer .btn {
    width: 110px;
    height: 36px;
    margin-right: 7px;
    font-size: 16px;
    color: #fff;
    outline: none;
}

.start-exam .start-answer .bar-size::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

.start-exam .start-answer .bar-size::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.start-exam .start-answer .bar-size::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

/*耳麦测试的录音进度条*/
.content-bg .content-in .main .djs {
    width: 330px;
    top: 140px;
    left: 40px;
    margin: 0 auto;
}

.content-bg .content-in .main .djs .countdown {
    font-size: 18px;
    margin-top: -4px;
    position: absolute;
    right: 0;
}

.content-bg .content-in .main .djs .layui-progress {
    width: 260px;
}

.content-bg .content-in .main .djs .layui-progress-bar {
    position: relative;
}

/*做题页面的录音进度条*/
.djs {
    position: absolute;
    right: 50px;
    top: -15px;
    width: 100px;
    height: 90px;
    border-radius: 13px;
    z-index: 1000;
    display: none;
}

.djs div {
    float: left;
    font-size: 12px;
    border-radius: 18px;
}

#ytdt {
    margin: 60px 0 0 -45px;
    color: #00a0e9;
}

#ytdt .layui-progress .layui-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    text-align: right;
    background-color: #4fc6fc;
    transition: all 0.3s;
    line-height: 18px;
}

.speed-balloon {
    position: absolute;
    top: -34px;
    right: -17px;
    width: 30px;
    height: 41px;
    transform: rotate(7deg);
}

.djs .layui-progress {
    width: 100px;
    height: 18px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    position: absolute;
    top: 59px;
}

.countdown {
    position: absolute;
    top: 59px;
    right: -32px;
}

.writelistenAnswers {
    color: #004098;
}

/* 下一步按钮的模态框/ */
.next-modal .modal-content {
    width: 490px;
    margin: 15% auto;
    background: url("../../images/common/ready-go-clound.png") no-repeat center top;
    background-size:100% 100%;
    border: none;
    box-shadow: none;
}

.modal-dialog {
    width: 450px;
}

.modal-content .modal-header {
    padding-top: 30px;
    border-bottom: none;
    height: 120px;
    text-align: center;
    font-size: 16px;
}

.modal-content .modal-header p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 76px;
}

.modal-content .modal-header .modal-title {
    text-align: center;
    font: 20px/80px MicrosoftYaHei;
}

.modal-content .modal-body {
    height: 200px;
    margin-top: 50px;
    text-align: center;
}

.modal-content .modal-body img {
    display: inline-block;
    width: 187px;
    height: 189px;
}

.modal-content .modal-footer {
    padding: 50px 0 0 0;
    text-align: center;
    border-top: none;
}

.modal-content .modal-footer button {
    width: 110px;
    height: 38px;
    margin-top: 5px;
    color: #fff;
    border: none;
    outline: none;
}

.modal-content .modal-footer .btn-default,
.modal-content .modal-footer .btn-primary {
    box-shadow: none;
    width: 136px;
    height: 36px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 44px;
}

.modal-content .modal-footer .btn-primary {
    margin-left: 10px;
}

/* .modal-content .modal-footer .btn-default:hover,
.modal-content .modal-footer .btn-primary:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size:100% 100%;
} */

.record-fail .modal-content {
    width: 530px;
    height: 310px;
    margin: 150px auto;
    border: none;
    background: transparent;
    box-shadow: none;
}

.record-fail .modal-content .modal-header {
    width: 494px;
    height: 140px;
    background: url("../../images/common/startbg.png") no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    box-shadow: none;
    color: #fff;
    border-bottom: none;
    font-size: 30px;
}

.record-fail .modal-content .modal-body {
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    height: 100px;
    margin-top: 0;
}

.colofulyellow {
    margin-top: 15px;
    color: #eefd00;
    font-size: 14px;
}

.round-progress{
    position: relative;
    width:60px;
    margin: 4px 135px;
}
.record-bg{
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../images/common/recording-in.png") no-repeat center center;
    background-size:98% 98%;
    border-radius: 60px;
    top: 0;
    left: 0;
}
.round-progress-bar{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
}