body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#view-report {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#view-report::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

#view-report::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#view-report::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

.go-top {
    position: absolute;
    bottom: 85px;
    right: 20px;
    cursor: pointer;
}

#nav,
#view-report,
#footer,
.report-title .report-details,
.report-title .report-details li,
.score-statistic .report-tabs > li,
.score-statistic .report-wrap li > div,
.report-content .question-content .word-degree,
.report-content .question-content .word-degree p,
.report-content .question-content .sentences-degree,
.report-content .question-content .sentences-degree p,
.report-top .word-degree p,
.report-top .sentences-degree,
.report-top .sentences-degree p,
.report-content .report-wrap .word-list .content,
.report-content .report-wrap .spell-list .prompt .error,
.report-content .report-wrap .spell-list .prompt .correct {
    float: left;
}

.report-title::after,
.report-title .report-details::after,
.report-title .report-comment::after,
.report-top::after,
.report-top .word-degree::after,
.report-top .sentences-degree::after,
.spell-list .prompt::after,
.cosplay-list .cos-content .cos-score::after,
.report-title::after,
.score-statistic::after,
.report-content .exam-key .exam-key-content .key-item p::before,
.report-title .report-details .title-top::after,
.report-title .report-details .title-bottom::after {
    content: "";
    display: block;
    clear: both;
}

/*返回按钮*/
.back {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 20px 0 0 20px;
}

/*报告头*/
.report-title {
    width: 660px;
    margin: 20px auto 20px;
}

.report-title .report-details {
    width: 300px;
    height: 139px;
    padding-top: 33px;
}

.report-title .report-details li {
    width: 120px;
    margin-left: 60px;
    text-align: center;
}

.report-title .report-details li:first-of-type {
    margin-left: 0;
}

.report-title .report-details .title-top li {
    height: 50px;
    line-height: 50px;
}

.report-title .report-details .title-bottom li {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

.report-title .report-details .colorfulo {
    color: #f08118;
    font-size: 30px;
    font-weight: 600;
}

.report-title .report-comment {
    width: 320px;
    height: 139px;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 160, 233, 0.06);
    background-color: #fff;
    border: solid 1px #e5e5e5;
    text-align: center;
    float: right;
}

.report-title .report-comment .comment-text {
    width: 280px;
    height: 133px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
}

/*题型列表*/
.score-statistic {
    width: 660px;
    margin: 36px auto 0;
}

.score-statistic .report-tabs {
    width: 100%;
    height: 40px;
    background-color: #4fc6fc;
}

.score-statistic .report-tabs > li {
    user-select: none;
    width: 33.3333%;
    height: 39px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}

.score-statistic .report-wrap {
    width: 100%;
}

.score-statistic .report-wrap > li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #4fc6fc;
}

.score-statistic .report-wrap li > div {
    width: 33.3333%;
    height: 38px;
    line-height: 40px;
    text-align: center;
}

.report-content {
    width: 100%;
    background-image: linear-gradient(to top, #fff, #fbfbfb);
    margin: 50px 0;
}

.report-content #report-content {
    width: 832px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
}

/*各题解析头*/
.report-content .question-title {
    border-bottom: 3px solid #00a0e9;
    margin-top: 80px;
}

.report-content .question-title .top-topic {
    background-color: #00a0e9;
    padding: 12px 16px 9px 17px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    user-select: none;
}

.report-content .question-title .top-topic span {
    font-weight: 400;
    font-size: 14px;
}

.report-content .question-content > li {
    margin-top: 24px;
}

.report-content .question-content > li .exam-result {
    color: #000;
    font-weight: 700;
}

.report-content .question-content > li .exam-result img {
    width: 22px;
    height: 22px;
    margin-left: 4px;
}

.report-content .question-content > li .recording-score {
    height: 24px;
    line-height: 24px;
    color: #1e9fff;
    margin-left: 10px;
}

.report-content .question-content .subject,
.report-content .question-content .select span {
    color: #333;
}

.report-content .exam-key {
    margin-top: 30px;
}

.report-content .exam-key > span {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #4fc6fc;
    cursor: pointer;
    user-select: none;
}

.report-content .exam-key .exam-key-content {
    background-color: #e8f5ff;
}

.report-content .exam-key .exam-key-content .key-item {
    padding: 16px 20px 1px;
}

.report-content .exam-key .exam-key-content .key-item p {
    color: #333;
}

.report-content .exam-key .exam-key-content .key-item p::before {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: text-bottom;
}

.report-content .exam-key .exam-key-content .refer-result p::before {
    background: url("../../images/simulationExam/refer-result.png") no-repeat center left;
}

.report-content .exam-key .exam-key-content .crue-info p::before {
    background: url("../../images/simulationExam/crue-info.png") no-repeat center left;
}

.report-content .exam-key .exam-key-content .listen-article p::before {
    background: url("../../images/simulationExam/listen-article.png") no-repeat center left;
}

.report-content .exam-key .exam-key-content .key-item .key {
    margin: 6px 0 16px;
}

.report-content .question-content > li .select span {
    display: inline-block;
    margin: 0 8px;
}

.report-content .question-content > li .right-wrong img {
    width: 20px;
    height: 20px;
    margin-left: 14px;
    cursor: pointer;
}

.report-content .question-content > li .fill-vacancy span {
    display: inline-block;
    min-width: 100px;;
    text-align: center;
    padding: 10px 6px 0;
    margin: 0 0 10px 10px;
    border-bottom: 1px solid #333;
}

.report-content .question-content .fill-blanks .have-underline {
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    text-align: center;
    width: 30px;
    margin: 0 10px;
}

.report-content .question-content .fill-blanks {
    margin-top: 18px;
    width: 765px;
    color: #333;
    font-size: 16px;
    border-color: #1e9fff;
}

.report-content .question-content .fill-blanks th {
    height: 52px;
    text-align: center;
}

.report-content .question-content .fill-blanks tr td:nth-of-type(2) {
    padding: 14px 0 10px 18px;
}

.report-content .question-content .word-degree {
    width: 40%;
    margin: 0 0 0 65%;
}

.report-content .question-content .word-degree p {
    width: 30%;
    margin-left: 5px;
}

.report-content .question-content .word-degree p img {
    vertical-align: top;
    margin: 10px 5px 0 0;
}

.report-top {
    width: 100%;
    margin-top: 20px;
}

.report-content .question-content .sentences-degree {
    width: 61%;
    margin: 0 0 -5%;
}

.report-content .question-content .sentences-degree p {
    width: 30%;
    margin-left: 1%;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.report-top .word-degree p {
    width: 32%;
    margin-left: 1%;
}

.word-degree .degree-fail,
.report-content .question-content .subject .red {
    color: #fd1021;
}

.word-degree .degree-good,
.report-content .question-content .subject .orange {
    color: #2aaff3;
}

.word-degree .degree-well,
.report-content .question-content .subject .green {
    color: #00d35b;
}

.report-top .sentences-degree {
    width: 61%;
    margin: 3% 0 -5%;
}

.report-top .sentences-degree p {
    width: 30%;
    margin-left: 1%;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.report-top progress {
    margin-left: 2px;
    width: 87px;
    height: 13px;
    border-radius: 10px;
}

.report-top progress::-webkit-progress-bar {
    border-radius: 10px;
    background: #eee;
}

.report-top progress::-webkit-progress-value {
    border-radius: 10px;
    background: #fd1021;
}

.report-top .sentences-degree p progress.fluency::-webkit-progress-value {
    background: #2aaff3;
}

.report-top .sentences-degree p progress.integrity::-webkit-progress-value {
    background: #00d35b;

}

/*.report-content .report-wrap .word-list .content {*/
/*width: 33.33%;*/
/*list-style: none;*/
/*padding: 2% 0 1% 5%;*/
/*}*/

/*.report-content .report-wrap .word-list .content img {*/
/*vertical-align: middle;*/
/*margin-right: 5px;*/
/*}*/

/*.report-content .report-wrap .word-list .content .word-score {*/
/*width: 26px;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*text-align: center;*/
/*margin: -7px 0 0 10px;*/
/*border-radius: 50%;*/
/*border: 1px solid #36dbbb;*/
/*color: #36dbbb;*/
/*!*border: 1px solid #00d35b;*!*/
/*!*color: #00d35b;*!*/
/*}*/

/*.report-content .report-wrap .sentences-list .content {*/
/*padding: 2% 0 1% 5%;*/
/*border-bottom: 1px solid #eee;*/
/*margin: 10px 0;*/
/*}*/

/*.report-content .report-wrap .sentences-list .content img {*/
/*vertical-align: middle;*/
/*margin-right: 5px;*/
/*}*/

/*.report-content .report-wrap .sentences-list .content .sentences-score {*/
/*float: right;*/
/*width: 26px;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*text-align: center;*/
/*margin: -13px 51px 0 0;*/
/*border-radius: 50%;*/
/*border: 1px solid #36dbbb;*/
/*color: #36dbbb;*/
/*!*border: 1px solid #00d35b;*!*/
/*!*color: #00d35b;*!*/
/*}*/

/*.report-content .report-wrap .text-list .content {*/
/*width: 100%;*/
/*padding: 2% 0 1% 10%;*/
/*border-bottom: 1px solid #eee;*/
/*list-style: none;*/
/*position: relative;*/
/*}*/

/*.report-content .report-wrap .text-list .content img {*/
/*vertical-align: middle;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 40px;*/
/*margin: -13px 5px 0 0;*/
/*}*/

/*.report-content .report-wrap .text-list .content .text {*/
/*width: 80%;*/
/*font-size: 14px;*/
/*font-weight: 300;*/
/*}*/

/*.report-content .report-wrap .text-list .content .text-score {*/
/*position: absolute;*/
/*top: 50%;*/
/*right: 10px;*/
/*margin-top: -13px;*/
/*width: 26px;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*text-align: center;*/
/*border-radius: 50%;*/
/*border: 1px solid #36dbbb;*/
/*color: #36dbbb;*/
/*!*border: 1px solid #00d35b;*!*/
/*!*color: #00d35b;*!*/
/*}*/

/*.report-content .report-wrap .cosplay-list .job-list {*/
/*border: 1px solid transparent;*/
/*width: 100%;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .job-list .cos-title {*/
/*margin-top: 2%;*/
/*width: 100%;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .job-list .cos-title .role-name {*/
/*margin-left: 5px;*/
/*font-size: 20px;*/
/*color: #1e9fff;*/
/*font-weight: 900;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .cos-content {*/
/*width: 100%;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .cos-content p {*/
/*padding: 2% 0 1% 5%;*/
/*border-bottom: 1px solid #eee;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .cos-content img {*/
/*vertical-align: middle;*/
/*margin-right: 5px;*/
/*}*/

/*.report-content .report-wrap .cosplay-list .cos-content .cos-score {*/
/*float: right;*/
/*width: 26px;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*text-align: center;*/
/*margin: -7px 51px 0 0;*/
/*border-radius: 50%;*/
/*border: 1px solid #36dbbb;*/
/*color: #36dbbb;*/
/*!*border: 1px solid #00d35b;*!*/
/*!*color: #00d35b;*!*/
/*}*/

/*.report-content .report-wrap .spell-list .prompt {*/
/*float: right;*/
/*margin: 2%;*/
/*}*/

/*.report-content .report-wrap .spell-list .prompt .error {*/
/*color: #ff6d80;*/
/*margin-right: 20px;*/
/*}*/

/*.report-content .report-wrap .spell-list .prompt .correct {*/
/*color: #36dbbb;*/
/*}*/

/*.report-content .report-wrap .spell-list .spell-word {*/
/*padding-left: 40px;*/
/*width: 100%;*/
/*}*/

/*.report-content .report-wrap .spell-list .spell-word:first-of-type {*/
/*margin-top: 50px;*/
/*}*/

/*.report-content .report-wrap .spell-list .spell-word span {*/
/*display: inline-block;*/
/*width: 18%;*/
/*height: 34px;*/
/*margin: 2% 3% 0 0;*/
/*text-align: center;*/
/*line-height: 34px;*/
/*font-size: 14px;*/
/*font-weight: 300;*/
/*border: 1px solid #eee;*/
/*color: #36dbbb;*/
/*}*/
