@charset "utf-8";
body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

.outs {
    width: 100%;
    height: 100%;
    /*min-height: 687px;*/
    background: url("../../images/common/background.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

#nav,
#word-speaking,
#footer,
.word-speaking .speak-listen-tab-hd li,
.carousel .carousel-inner .item .text p span,
.carousel .carousel-inner .item .text .role1 span {
    float: left;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#word-speaking {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

/* 添加返回按钮 */
#word-speaking .back {
    position: absolute;
    top: -5px;
    left: 20px;
    width: 26px;
    height: 21px;
}

/* 返回按钮的模态框/ */
.word-speaking .modal-content {
    width: 490px;
    height: 321px;
    margin-top: 40%;
    background: url("../../images/common/ready-go-clound.png") no-repeat center center;
    border: none;
    box-shadow: none;
}

.modal-dialog {
    width: 450px;
}

.modal-content .modal-header {
    padding-top: 30px;
    border-bottom: none;
    height: 120px;
}

.modal-content .modal-header .modal-title {
    text-align: center;
    font: 20px/80px MicrosoftYaHei;
}

.modal-content .modal-body {
    height: 70px;
    text-align: center;
    font-size: 16px;
}

.modal-content .modal-body p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: -15px;
}

.modal-content .modal-footer {
    padding: 50px 0 0 0;
    text-align: center;
    border-top: none;
}

.modal-content .modal-footer button {
    width: 110px;
    height: 38px;
    margin-top: 5px;
    color: #fff;
    border: none;
    outline: none;
}

.modal-content .modal-footer .btn-default,
.modal-content .modal-footer .btn-primary {
    outline: none;
    box-shadow: none;
    background: url("../../images/common/normal-button.png") no-repeat center center;
}

.modal-content .modal-footer .btn-primary {
    margin-left: 10px;
}

.modal-content .modal-footer .btn-default:hover,
.modal-content .modal-footer .btn-primary:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
}

/* 提交作业的提示 */
.word-speaking .dictation-modal .modal-content .modal-body {
    line-height: 40px;
}

.word-speaking .dictation-modal .modal-content .modal-body p {
    color: #fff;
}

.word-speaking .dictation-modal {
    display: block;
    background-color: rgba(0, 0, 0, .3);
}

/* 提交作业成功的模态框 */
.submit-success .modal-dialog {
    width: 450px;
}

.submit-success .modal-content {
    width: 450px;
    height: 320px;
    margin-top: 40%;
    background: url("../../images/common/ready-go-clound.png") no-repeat center center;
    border: none;
    box-shadow: none;
}

/* 开始做作业 模态框 */
.ready-go .modal-dialog {
    width: 450px;
}

.ready-go .modal-content {
    width: 490px;
    height: 321px;
    margin-top: 45%;
    background: url("../../images/common/ready-go-clound.png") no-repeat center center;
    border: none;
    box-shadow: none;
    font-size: 36px;
}

.ready-go .modal-content .modal-body p {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

/* 作业提交超时模态框 */
.time-out {
    width: 40px;
    height: 21px;
}

.word-speaking {
    position: relative;
}

/* 模态框样式结束 */
.word-speaking .speak-listen-tabs {
    width: 850px;
    height: 83px;
    margin: 25px auto 0;
    text-align: center;
}

.word-speaking .speak-listen-tabs::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.word-speaking .speak-listen-tabs .speak-listen-tab-hd {
    display: inline-block;
}

.word-speaking .speak-listen-tab-hd li {
    width: 165px;
    height: 67px;
    margin: 16px 0 24px;
    padding-top: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: center;
    color: #999;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.word-speaking .speak-listen-tab-hd li.active {
    width: 166px;
    height: 67px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #4fc6fc;
    background-size: cover;
}

.word-speaking .speak-listen-tab-hd li span {
    font-size: 16px;
}

/* 添加每个听说作业的等级显示 */
.word-speaking .speak-listen-tab-hd li .word-degree {
    position: absolute;
    top: 0;
    right: 110px;
    width: 0;
}

.word-speaking .speak-listen-tab-hd .word-degree p {
    width: 100px;
    text-align: right;
    margin-left: 1%;
}

.word-speaking .speak-listen-tab-hd li .word-degree .degree-fail {
    color: #ff6d80;
}

.word-speaking .speak-listen-tab-hd li .word-degree .degree-good {
    color: #ffb846;
}

.word-speaking .speak-listen-tab-hd li .word-degree .degree-well {
    color: #36dbbb;
}

/* 听说作业 单词跟读 tab body */

.word-speaking .speak-listen-tab-bd li {
    display: none;
    position: relative;
}

.word-speaking .speak-listen-tab-bd li.first {
    display: block;
}

/* 分数样式 */
.word-speaking .speak-listen-tab-bd .score {
    width: 68px;
    height: 68px;
    /*border-radius: 50%;*/
    margin: 16px auto 10px;
    /*background: url("../../images/speakAndListen/score.png") no-repeat center left;*/
    background: #d43f3a;
    line-height: 68px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.word-speaking .speak-listen-tab-bd .gd {
    height: 30px;
    /*border-radius: 50%;*/
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;
    color: #00a0e9;
    font-weight: 600;
}
.word-speaking .speak-listen-tab-bd .gd span{
    font-weight: 200;
}
/* 分数等级指示 */
.word-speaking .speak-listen-tab-bd .word-degree {
    width: 330px;
    height: 20px;
    margin: 20px auto 10px;
    text-align: center;
    font-size:14px;
    font-weight:400;
    color:#999;
}
.word-speaking .speak-listen-tab-bd .jsbyclass .word-degree {
    margin: 60px auto 20px;
}
.word-speaking .speak-listen-tab-bd .word-degree .degree-fail,
.word-speaking .speak-listen-tab-bd .word-degree .degree-well{
    width: 100px;
}

.word-speaking .speak-listen-tab-bd .word-degree .degree-good{
    width:110px;
    margin: 0 10px;
}
/* 旋转木马盒子公共样式 */
/*.word-speaking .speak-listen-tab-bd .carousel {
    height: 290px;
}*/

.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item {
    padding: 0 10%;
    font-weight: 700;
    color: #004098;
}

.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .text-out {
    width: 100%;
    height: 250px;
    /* 上下左右居中 */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    word-break: break-all;
}
.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .text {
    word-wrap: break-word;
}
.word-speaking .speak-listen-tab-bd .jsbyclass .carousel .carousel-inner .item .text {
    width: 100%;
    height: 250px;
    /* 上下左右居中 */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    /*word-break: break-word;*/
    word-wrap: break-word;
}
.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .text b {
    word-wrap: break-word;
}

.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .green {
    color: #36dbbb;
    float: left;
    padding: 0 6px;
}

.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .red {
    color: #ff6d80;
    float: left;
    padding: 0 6px;
}

.word-speaking .speak-listen-tab-bd .carousel .carousel-inner .item .orange {
    color: #ffb846;
    float: left;
    padding: 0 6px;
}

/* 语速 样式 */
.word-speaking .speak-speed {
    /*float: right;*/
    width: 100%;
    height: 20px;
    margin: 0 auto;
}

.word-speaking .speak-speed-in {
    position: relative;
    width: 100px;
    height: 20px;
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
}

.word-speaking .speak-speed .list {
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.word-speaking .speak-speed .list .current {
    display: inline-block;
    width: 30px;
}

.word-speaking .speak-speed ul {
    position: absolute;
    top: 20px;
    left: 44px;
    width: 44px;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.word-speaking .speak-speed ul li:hover {
    background: yellow;
}

.word-speaking .speak-speed .list .triangle {
    border: 5px solid #ccc;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    margin: 0 8px 0 0;
    transform: rotate(45deg);
}

/* 左右箭头的设置 */
.word-speaking .speak-listen-tab-bd .carousel-control {
    position: absolute;
    top: 65%;
    /* 去掉阴影 */
    height: 0;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    filter: alpha(opacity=50);
}

/* 上一页/下一页 禁用状态 */
.word-speaking .speak-listen-tab-bd .carousel-control.out:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* 单词跟读的旋转木马 */
.word-speaking-carousel {
    border: 1px solid transparent;
}

.word-speaking-carousel .carousel .carousel-inner .item .text {
    font-size: 44px;
}

/* 句子跟读的旋转木马 */
.sentence-reading-carousel .carousel .carousel-inner .item .text {
    font-size: 36px;
}

/* 课文跟读的旋转木马 */
.article-reading-carousel .carousel .carousel-inner .item .text {
    font-size: 36px;
}

/* 听说作业 分数 公共样式*/
.word-speaking .speak-listen-tab-bd .speak-listen-btn {
    width: 400px;
    /*height: 125px;*/
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid transparent;
}

/* 添加display none*/
.word-speaking .speak-listen-tab-bd .speak-listen-btn .play-icon {
    width: 142px;
    height: 42px;
    margin: 54px auto 0;
    /*margin-left: 40px;*/
    display: none;
}

.word-speaking .speak-listen-tab-bd .speak-listen-btn .speed {
    display: none;
    width: 330px;
    height: 13px;
    margin-left: 38px;
    /*11*/
    margin-top: 80px;
    position: relative;
}

.word-speaking .speak-listen-tab-bd .speak-listen-btn .speed .speed-balloon {
    position: absolute;
    top: -59px;
    left: 0;
    width: 50px;
    height: 71px;
    transform: rotate(7deg);
}

.word-speaking .speak-listen-tab-bd .speak-listen-btn .speed-icon .layui-progress-bar {
    width: 260px;
    height: 13px;
}

/* 录音中 */
.word-speaking .speak-listen-tab-bd .speak-listen-btn .speed .speed-text {
    /*display: block;*/
    /*width: 260px;*/
    height: 13px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    top: -10px;
    right: 0;
}

.word-speaking .speak-listen-tab-bd .speak-listen-btn .speed p {
    width: 100%;
    line-height: 13px;
    font-size: 14px;
    text-align: center;
}

/*结束*/

/*重做和我的录音按钮*/
.q_restart {
    width: 400px;
    height: 40px;
    margin: 60px auto 0;
    /*background: #e4b9b9;*/
}
.status{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    /*background-color: pink;*/
    text-align: center;
    color: #00a0e9;
}
.status .normal{
    display: none;
}
.status .abnormal{
    display: none;
    color: #ff8003;
}
.word-speaking .speak-listen-tab-bd .play {
    width: 110px;
    height: 36px;
    cursor: pointer;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: cover;
    display: inline-block;
    margin: 0 6px 0;
    border-radius: 36px;
}

/*.word-speaking .speak-listen-tab-bd .headset {*/
    /*margin-left: -30px;*/
/*}*/

.word-speaking .speak-listen-tab-bd .play p {
    color: #fff;
    line-height: 36px;
    font-size: 14px;
}

.word-speaking .speak-listen-tab-bd .play:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: cover;
}

.word-speaking .speak-listen-btn .znbutton {
    margin-top: 60px;
    margin-left: 0;
}

.word-speaking .speak-listen-tab-bd .recording {
    width: 67px;
    height: 100px;
    margin: 0 50px;
}

.word-speaking .speak-listen-tab-bd .recording span {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: url("../../images/common/record.png") no-repeat center center;
    background-size: 68px 68px;
}

.word-speaking .speak-listen-tab-bd .recording .recording-in {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    background: url("../../images/common/recording.png") no-repeat center center;
    animation: recording 2s infinite;
    -webkit-animation: recording 2s infinite; /*Safari and Chrome*/
    -moz-animation: recording 5s infinite; /* Firefox */
    -o-animation: recording 5s infinite; /* Opera */
}

/* 录音动画 */
@keyframes recording {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes recording /*Safari and Chrome*/
{
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-moz-keyframes recording /* Firefox */
{
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@-o-keyframes recording /* Opera */
{
    from {
        -o-transform: scale(1.5) rotate(10deg);
    }
    to {
        background: yellow;
    }
}

/* 角色扮演 */
.word-speaking .speak-listen-tab-bd .role {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: #11d8fc;
    border: 1px solid #11d8fc;
    transform: rotate(9deg);
    float: right;
    position: relative;
    margin-right: 24%;
}

.word-speaking .speak-listen-tab-bd .role::before {
    content: "";
    width: 0;
    height: 32px;
    border-left: 2px solid #11d8fc;
    transform: rotate(-9deg);
    position: absolute;
    top: -82%;
    left: 50%;
}

/* 角色内容样式 */
.carousel .carousel-inner .item .text p {
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    display: block;
}

.carousel .carousel-inner .item .text .role-in {
    font-size: 26px;
    font-weight: 700;
    color: green;
}

.carousel .carousel-inner .item .text p span {
    min-width: 50px;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid #11d8fc;
    background-color: #fff;
    color: #11d8fc;
}

.carousel .carousel-inner .item .text .role-in span {
    background-color: #11d8fc;
    color: #fff;
}

/* 当前角色在阅读左侧 */
.carousel .carousel-inner .item .text .role-in .weight {
    background-color: #ff8003;
    border: 1px solid #ff8003;
}

/* 当前角色在阅读 右侧*/
.carousel .carousel-inner .item .text .weight {
    background-color: #ff8003;
    border: 1px solid #ff8003;
}

.carousel .carousel-inner .item .text .role1 {
    display: block;
    text-align: left;
    margin-left: 1px;
    /* justify-content: flex-end; */
}

.carousel .carousel-inner .item .text .role2 {
    display: block;
    text-align: right;
}

.carousel .carousel-inner .item .text .role1 span {
    margin-right: 10px;
}

.carousel .carousel-inner .item .text .role2 span {
    float: right;
    margin-left: 10px;
}

/* 角色分数 只有句子读过后才显示 */
.carousel .carousel-inner .item .text .role-in .role-score {
    content: "79";
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #36dbbb;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin: 0 12px;
}

/* 智能听写 */

.writing .right-and-wrong {
    width: 48px;
    height: 48px;
    margin: 30px auto 60px;
}

.word-speaking .speak-listen-tab-bd .writing .speak-listen-btn {
    /* margin: 0 auto; */
    width: 110px;
    margin: 0 auto;
    text-align: center;
}

.word-speaking .speak-listen-tab-bd .writing .speak-listen-btn input {
    width: 110px;
    height: 38px;
    text-align: center;
    font: 600 16px/38px MicrosoftYaHei;
    color: #fff;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: cover;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* 智能听写旋转木马 */
.intelligent-dictation .carousel .carousel-inner .item .dictation {
    width: 624px;
    height: 64px;
    margin: 68px auto;
    padding: 0 104px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-right: none;
    text-align: center;
    color: #004098;
    font-size: 24px;
}

.intelligent-dictation .carousel .carousel-inner .item .finish {
    width: 104px;
    height: 64px;
    background-color: #11d8fc;
    color: #fff;
    border: none;
    position: absolute;
    right: 120px;
}

.intelligent-dictation .carousel .carousel-inner .item .dictation::-webkit-input-placeholder { /* WebKit browsers*/
    color: #ccc;
    font-size: 24px;
    line-height: 64px;
}

.intelligent-dictation .carousel .carousel-inner .item .dictation:-moz-placeholder { /* Mozilla Firefox 4 to 18*/
    color: #ccc;
    font-size: 24px;
    line-height: 64px;
}

.intelligent-dictation .carousel .carousel-inner .item .dictation::-moz-placeholder { /* Mozilla Firefox 19+*/
    color: #ccc;
    font-size: 24px;
    line-height: 64px;
}

.intelligent-dictation .carousel .carousel-inner .item .dictation:-ms-input-placeholder { /* Internet Explorer 10+*/
    color: #999;
    font-size: 14px;
    line-height: 64px;
}

/* 提示信息模态框 */
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    z-index: 3;
}

#tooltip {
    position: absolute;
    left: 50%;
    width: 490px;
    height: 321px;
    background: url("../../images/common/ready-go-clound.png") no-repeat center center;
    margin: -160px 0 0 -365px;
    display: none;
    z-index: 5;
}

.dictation-modal-header {
    height: 130px;
}

.dictation-modal-header .title {
    text-align: center;
    font-size: 20px;
    line-height: 140px;
    margin: 0;
}

.dictation-modal-body {
    height: 70px;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.dictation-modal-body p {
    margin-top: -12px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.dictation-modal-footer {
    margin-top: 25px;
}

.dictation-modal-footer button {
    display: block;
    cursor: pointer;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    border-radius: 5px;
    margin: 20px auto 0;
}

.dictation-modal-footer button:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
}

button {
    border: none;
    outline: none;
    background: #11AfAF;
}

/* 角色扮演的人名 */
.speak-listen-tab-hd .role {
    display: none;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: #11d8fc;
    border: 1px solid #11d8fc;
    transform: rotate(9deg);
    float: right;
    position: relative;
    margin-right: 24%;
    margin-top: 40px;
}

.speak-listen-tab-hd .role::before {
    content: "";
    width: 0;
    height: 32px;
    border-left: 2px solid #11d8fc;
    transform: rotate(-9deg);
    position: absolute;
    top: -82%;
    left: 50%;
}

.speak-listen-submit {
    width: 69px;
    height: 69px;
    background-color: #00a0e9;
    box-shadow: 0 0 6px 6px rgba(0, 160, 233, 0.25);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 69px;
    border-radius: 50%;
    position: relative;
    bottom: 80px;
    right: -827px;
}

.speak-listen-submit.out {
    background-color: #999;
    box-shadow: 0 0 30px #999;
}

/* html页面拷贝过来 */

h3, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.scrollbox {
    width: 400px;
    padding: 10px;
    border: #ccc 1px solid;
}

#scrollDiv {
    width: 400px;
    height: 70px;
    overflow: hidden;
}

/*这里的高度和超出隐藏是必须的*/
#scrollDiv li {
    height: 55px;
    line-height: 55px;
    vertical-align: bottom;
    zoom: 1;
}

/* 测试 */
.word-speaking .lunbo-portrait {
    position: relative;
    width: 100%;
    height: 50px;
    /* border:1px solid red;  */
    overflow: hidden;
}

.word-speaking .lunbo-portrait .ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 210px;
}

.word-speaking .lunbo-portrait > .ul .item-in {
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    color: #333;
    text-align: center;
    display: block;
}

.text-btn {
    /*margin-top: 300px;*/
    position: absolute;
    top: 70px;
    left: 40px;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 210px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* html页面拷贝过来 */
/*角色扮演*/
.jsbyanimateul {
    width: 100%;
    height: 210px;
    overflow: hidden;
    position: relative;
}

.jsbyanimateul .li {
    width: 696px;
    overflow: hidden;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.jsbyanimateul .animateul {
    position: absolute;
    left: 0;
    top: 0;
    width: 3000px;
    padding-top: 70px;
}

/*角色扮演*/