/* 添加返回按钮 取自听说作业的样式 */
.back {
    width: 26px;
    height: 21px;
    position: absolute;
    top: 13px;
    left: 5px;
}

/* 返回按钮的模态框 */
.back-modal .modal-content {
    width: 450px;
    height: 320px;
    margin-top: 40%;
    background: url("../../images/common/cloud.png") no-repeat center center;
    border: none;
    box-shadow: none;
}

.modal-dialog {
    width: 450px;
}

.modal-content .modal-header {
    padding-top: 30px;
    border-bottom: none;
    height: 120px;
}

.modal-content .modal-header .modal-title {
    text-align: center;
    font: 20px/80px MicrosoftYaHei;
}

.modal-content .modal-body {
    height: 70px;
    text-align: center;
    font-size: 16px;
}

.modal-content .modal-footer {
    padding: 25px;
    text-align: center;
    border-top: none;
}

.modal-content .modal-footer button {
    width: 110px;
    height: 38px;
    margin-top: 5px;
    color: #fff;
    border: none;
}

.modal-content .modal-footer .btn-default {
    background: url("../../images/common/hover-set-meb-icon.png") no-repeat center center;
}

.modal-content .modal-footer .btn-primary {
    background: url("../../images/common/set-meb-icon.png") no-repeat center center;
    margin-left: 10px;
}