.copyright {
    width: 100%;
    height: 52px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}

.copyright p:last-of-type {
    margin-top: 5px;
}

.copyright img {
    vertical-align: middle;
    margin: -3px 9px 0 0;
}

.service {
    color: #fff;
    text-decoration: underline;
    margin-left: 15px;
}

.service:hover {
    color: #f08118;
}