body {
    width: 100%;
}

.top {
    width: 100%;
    min-width: 1200px;
    height: 101px;
    background: url('../../images/personInfo/header.png') repeat-x center center;
}

.top .header-container .fr::after,
.header-container::after {
    clear: both;
    content: "";
    display: block;
}

.header-container {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
}

/*左侧logo*/
.top .logo {
    height: 80px;
    line-height: 77px;
}

.top .title {
    height: 80px;
    line-height: 80px;
    float: left;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

/*右侧个人信息*/
.top .header-container .fr {
    height: 80px;
    border: 1px solid transparent;
    line-height: 80px
}

.top .fr img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.top .user-top {
    height: 80px;
    padding: 0 43px 0 8px;
    color: #004098;
    font-size: 14px;
}

.top .fr a {
    font-size: 14px;
    color: #004098;
}

.top .fr a:link {
    color: #0a0253;
    text-decoration: none;
}

.top .fr a:active {
    color: #0a0253;
    text-decoration: none;
}

/* 老师催作业 模态框 */
.header-container .rush-homework {
    background-color: rgba(0, 0, 0, .1);
}

.header-container .rush-homework .modal-sm {
    width: 600px;
}

.header-container .rush-homework .modal-content {
    width: 600px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
    border: none;
    margin-top: 150px;
}

.header-container .rush-homework .modal-body {
    margin-top: 80px;
}

.header-container .rush-homework .modal-body p {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.header-container .rush-homework .modal-footer {
    border-top: none;
}

.header-container .rush-homework .modal-footer .btn {
    width: 145px;
    height: 37px;
    color: #fff;
    background: url("../../images/common/hover-set-meb-icon.png") no-repeat center center;
}

.header-container .rush-homework .modal-footer .btn:hover {
    background: url("../../images/common/set-meb-icon.png") no-repeat center center;
}

/*退出模态框*/
.top .header-container .exit-button {
    cursor: pointer;
    padding-left: 7px;
}

.top .header-container .exit-button:hover {
    text-decoration: none;
}

.top .header-container .exit {
    background-color: rgba(0, 0, 0, .1);

}

.header-container .exit .modal-dialog .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 200px;
    width: 355px;
    height: 330px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.header-container .exit .modal-dialog .modal-body {
    padding: 0;
    margin: 0 auto;
    width: 268px;
    height: 210px;
    background: url("../../images/common/exit.png");
    background-size: cover;
    position: relative;
}

.header-container .exit .modal-dialog .modal-footer {
    padding: 15px 0;
    text-align: left;
    border-top: none;
}

.header-container .exit .modal-dialog .modal-footer .btn {
    width: 109px;
    height: 37px;
    color: #fff;
    background: url("../../images/common/set-meb-icon.png") no-repeat center center;
}

.header-container .exit .modal-dialog .modal-footer .btn:hover {
    background: url("../../images/common/hover-set-meb-icon.png") no-repeat center center;
}

.overLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 1000;
}

.overLoading .layoutLoading {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 180px;
    height: 180px;
    z-index: 1001;
    text-align: center;
}

.overLoading .layoutLoading img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.overLoading .loading-text {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    letter-spacing: 2px;
    text-align: center;
}


