.top {
    min-width: 1200px;
    height: 76px;
    line-height: 76px;
    color: #fff;
    background: #fff;
}

.top .center {
    width: 1200px;
    margin: 0 auto;
}

.top .center::after {
    content: "";
    display: block;
    clear: both;
}

.top a .logo {
    margin-top: 5px;
}

.top a .logo::before {
    float: left;
    content: "";
    display: block;
    width: 107px;
    height: 47px;
    margin-top: 10px;
    user-select: none;
    background: url("../../images/index/index.png") no-repeat 0 0;
}

.top .logo::after {
    float: left;
    content: "";
    width: 113px;
    height: 16px;
    display: block;
    margin-top: 27px;
    line-height: 63px;
    margin-left: 20px;
    user-select: none;
    background: url("../../images/index/index.png") no-repeat 0 -50px;
}

.top .fl p {
    display: inline-block;
    height: 76px;
    font-size: 20px;
}

.top .fr {
    height: 76px;
}

.top .fr img {
    width: 48px;
    height: 48px;
    margin: 14px 12px;
    border-radius: 50%;
    border: 2px solid #00a0e9;
}

.top .fr p {
    font-size: 14px;
    display: inline-block;
    height: 76px;
    opacity: 0.9;
    padding: 0 2px;
    margin-right: 26px;
    color: #00a0e9;
}

.top .fr a {
    font-size: 14px;
    color: #00a0e9;
    cursor: pointer;
}

.top .fr a:link {
    color: #00a0e9;
    text-decoration: none;
}

.top .fr a:active {
    color: #00a0e9;
    text-decoration: none;
}

/*退出模态框*/
.top .exit-button {
    cursor: pointer;
    padding-left: 7px;
}

.top .exit-button:hover {
    text-decoration: none;
}

.top .exits {
    background-color: rgba(0, 0, 0, .1);
}

.top .exits .modal-dialog {
    width: 490px;
    height: 400px;
    margin-top: 14%;
}

.top .exits .modal-dialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top .exits .modal-dialog .modal-content #exit-header,
.top .exits1 .modal-dialog .modal-content #exit1-header {
    width: 494px;
    height: 136px;
    background: url("../../images/common/startbg.png");
    background-size: cover;
    border-bottom: none;
    padding: 0;
}

.top .exits .modal-dialog .modal-content .modal-body {
    padding: 0;
    margin: -35px auto 0;
    text-align: center;
}

.top .exits .modal-dialog .modal-body .exit-eyes {
    width: 131px;
    height: 52px;
    border-radius: 0;
    border: none;
    margin: 0;
}

.top .exits .modal-dialog .modal-body .exit-text,
.top .exits1 .modal-dialog .modal-body #dialog_content{
    font-size: 30px;
    width: 494px;
    color: #ffffff;
    display: block;
    margin-top: -35px;
    padding: 0 0 0 27px;
    text-shadow: 0 0 6px rgba(79, 198, 252, 0.25);
}

.top .exits .modal-dialog .modal-footer {
    padding: 15px 0;
    text-align: center;
    border-top: none;
}

.top .exits .modal-dialog .modal-footer .btn {
    width: 110px;
    height: 36px;
    color: #fff;
    background: url("../../images/common/normal-button.png") no-repeat center center;
}

.top .exits .modal-dialog .modal-footer .btn:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
}

/*催作业模态框*/

.top .exits1 {
    background-color: rgba(0, 0, 0, .1);
}

.top .exits1 .modal-dialog {
    width: 494px;
    height: 400px;
    margin-top: 14%;
}

.top .exits1 .modal-dialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top .exits1 .modal-dialog .modal-content .modal-body {
    padding: 0;
    margin: -35px auto 0;
    text-align: center;
}
.top .exits1 .modal-dialog .modal-body #dialog_content{
    width: 480px;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}
.top .exits1 .modal-dialog .modal-footer {
    padding: 15px 0;
    text-align: center;
    border-top: none;
}

.top .exits1 .modal-dialog .modal-footer .btn {
    width: 110px;
    height: 36px;
    color: #fff;
    background: url("../../images/common/normal-button.png") no-repeat center center;
}

.top .exits1 .modal-dialog .modal-footer .btn:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
}

.overLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 1000;
}

.overLoading .layoutLoading {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 180px;
    height: 180px;
    z-index: 1001;
    text-align: center;
}

.overLoading .layoutLoading img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.overLoading .loading-text {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    letter-spacing: 2px;
    text-align: center;
}

