.nav-wrap {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    padding-top: 42px;
    border-radius: 5px;
}

.nav-wrap .user-icon-left {
    width: 166px;
    height: 163px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: solid 5px #00a0e9;
}

.nav-wrap .user-icon-left img {
    width: 156px;
    height: 152px;
    border-radius: 50%;
    text-align: center;
}

.nav-wrap .user-name,
.nav-wrap .student-id {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
}

.nav-wrap .student-id {
    font-size: 16px;
    margin-top: 5px;
}

.nav-wrap .hd {
    width: 233px;
    margin-top: 61px;
}

.nav-wrap .hd a {
    display: block;
    width: 263px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.nav-wrap .hd a:last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-wrap .hd a:hover {
    text-decoration: none;
}

.nav-wrap .hd .current {
    display: block;
    width: 264px;
    background: #fff;
    color: #00a0e9;
}

.nav-wrap .hd a span img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 64px;
    vertical-align: middle;
}