/* 妯℃�佹 寮�濮� */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sinulation-exam-modal .modal-content {
    width: 530px;
    height: 310px;
    margin: 150px auto;
    border: none;
    background: transparent;
    box-shadow: none;
}

.sinulation-exam-modal .modal-content .modal-header {
    width: 494px;
    height: 140px;
    background: url("../../images/common/startbg.png") no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    box-shadow: none;
    color: #fff;
    border-bottom: none;
    font-size: 30px;
}

.sinulation-exam-modal .modal-content .modal-body {
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    height: 100px;
    margin-top: 0;
}

.sinulation-exam-modal .modal-content .modal-body .more-line {
    margin-top: 20px;
    line-height: 30px;
    padding: 30px;
}

.sinulation-exam-modal .modal-content .modal-footer {
    width: 380px;
    border: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.sinulation-exam-modal .modal-content .modal-footer button {
    width: 136px;
    height: 36px;
    margin-right: 7px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 44px;
    font-size: 16px;
    color: #fff;
    border: none;
    box-shadow: none;
    outline:none;
}