body {
    color: #999;
    font-size: 14px;
    min-height: 748px;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#nav, #growth-list, #footer {
    float: left;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#growth-list {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

.growth-title::after,
.growth-content::after {
    content: "";
    display: block;
    clear: both;
}

.back {
    width: 26px;
    height: 21px;
    margin: 20px 0 0 20px;
}

.growth-title {
    width: 646px;
    height: 120px;
    margin: 0 auto;
    background: url("../../images/nomousPractice/bgbook.jpg") no-repeat center center;
}

.growth-title li {
    float: left;
    width: 114px;
    height: 98px;
    padding: 25px 10px;
    margin: 12px 0 0 17px;
    text-align: center;
    background: #fff;
    color: #999;
}

.growth-title li:nth-of-type(1) {
    margin-left: 65px;
}

.growth-title li p:nth-of-type(2) {
    font-size: 12px;
}

.growth-title li .text-company {
    font-size: 26px;
    font-weight: 600;
    color: #f08118;
}

.quantifier {
    color: #4fc6fc;
}

.growth-content {
    width: 932px;
    height: 340px;
    margin-top: 74px;
}

.growth-content li {
    width: 844px;
    height: 72px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.growth-content li:hover {
    background: #effaff;
}

.growth-content li .text-title {
    float: left;
    line-height: 72px;
    color: #00a0e9;
    font-weight: 600;
    margin-left: 23px;
    font-size: 18px;
    width: 430px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record-lis {
    float: right;
    display: inline-block;
    width: 124px;
    height: 37px;
    font-size: 14px;
    margin: 19px 7px 0 0;
    text-align: center;
    line-height: 37px;
    border-radius: 18px;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
    cursor: pointer;
}

.record-lis:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

.text-score {
    float: right;
    margin-right: 80px;
}

.details {
    float: right;
    margin-right: 30px;
    height: 65px;
}

.all-level,
.all-time {
    text-align: right;
    float: left;
    margin-right: 25px;
    font-size: 12px;
    padding: 14px 0;
}

.all-time p {
    margin-top: 4px;
}

.story-score {
    color: #ff8003;
    font-weight: 600;
    font-size: 18px;
}

.page-wrap {
    font-size: 12px;
    position: relative;
    width: 848px;
    margin: 25px auto 0;
    height: 30px;
    text-align: center;
}

.page-wrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.paging {
    display: inline-block;
}

.paging .up,
.paging .down {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.paging .toggles {
    float: left;
    margin: 0 10px;
}

.paging .toggles li {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    color: #999;
    float: left;
    cursor: pointer;
}

.paging .toggles .col {
    background-color: #4fc6fc;
    color: #fff;
    border: none;
}

.empty-all {
    width: 180px;
    padding-left: 18px;
    margin: 50px 265px;
}

.empty-all img {
    width: 180px;
    height: 160px;
}

.empty-all .empty-text {
    width: 180px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #999;
}
