body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

.outs .mains::after {
    content: "";
    display: block;
    clear: both;
}

#nav, #library, #footer {
    float: left;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #4fc6fc;
    color: #333;
    border-radius: 5px;
}

#library {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}

#footer {
    margin: 1% 0 0 33%;
}

.speak-speed, .back, .content-title {
    float: left;
}

.library-top::after {
    content: "";
    display: block;
    clear: both;
}

.back {
    width: 24px;
    height: 24px;
    margin: 20px 0 0 20px;

}

.content-title {
    width: calc(100% - 220px);
    height: 40px;
    line-height: 65px;
    /*display: inline-block;*/
    font-size: 14px;
    margin-left: 76px;
    color: #999;
    text-align: center;
}

.ready-go .modal-body {
    padding-top: 44px;
}

.ready-go .modal-header {
    padding: 50px 11px 0 0;
    border-bottom: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    color: #333;
}

.ready-go .title {
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #11d8fc;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 0 60px 0 60px;
}

.ready-go .modal-body > div {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.ready-go .modal-body > div .mid {
    display: inline-block;
    margin: 0 24px;
}

.ready-go .modal-footer {
    border-top: none;
    text-align: center;
    margin-top: 30px;
    padding: 0;
}

.ready-go .modal-footer .start-read {
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: 100% 100%;
    outline: none;
    border: none;
    width: 148px;
    height: 39px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.ready-go .modal-footer .start-read:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: 100% 100%;
}

/* 闃呰鍐呭 閮ㄥ垎 */
.library-content {
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    /*display: none;*/
}

/* 褰撳墠杩涘害鏁� */
.library-content .part-num {
    text-align: center;
    font-size: 14px;
    color: #999;
}

.library-content .part-num .current {
    color: #00a0e9;
}

.library-content .part-scores {
    margin-top: 18px;
    text-align: center;
    user-select: none;
}

.library-content .part-scores #pscoreOut {
    width: 92px;
    height: 34px;
    /*background-color: #bfa;*/
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.library-content .part-scores p {
    display: block;
    height: 34px;
    border-radius: 17px;
    /*background-color: #93eefe;*/
    /*padding: 0 3px;*/
    position: absolute;
    left: 34px;
}

.library-content .part-scores .part-score {
    display: inline-block;
    margin: 3px 0px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    background-color: #2aaff3;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    float: left;
}

/* 褰撳墠 鍦ㄨ 娈佃惤鏍峰紡 */
/*.library-content .part-scores .part-score.current::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: -1px;
}*/
.library-content .part-scores .part-score.current {
    width: 28px;
    height: 28px;
    margin: 3px 4px;
    background-color: #fd1021;
    border-radius: 50%;
    animation: twinkle 2s infinite;
    /*margin: -1px;*/
}

@keyframes twinkle {
    0% {
        transform: scale(1.0, 1.0);
    }
    /*33% {transform: scale(0.9,0.9);}*/
    50% {
        transform: scale(0.9, 0.9);
    }
    /*66% {transform: scale(1.07,1.07);}*/
    100% {
        transform: scale(1.0, 1.0);
    }
}

.library-content .current-part-score {
    width: 54px;
    height: 36px;
    margin: 0 auto;
    padding-left: 20px;
    background: url("../../images/common/add-score-bg.png") no-repeat center center;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: -20px;
    left: 40%;
    color: #fff;
    /*animation: uper 2s linear;*/
    display: none;
}

@keyframes uper {
    0% {
        top: -20px;
        opacity: 1;
    }
    /*1%{top: 0;opacity: 1;display: block;}*/
    /*99%{top: -200px;opacity: 0;}*/
    100% {
        top: -250px;
        opacity: 0;
    }
}

/* 鍑嗙‘搴︿竴琛� */
.library-content .library-point {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    float: right;
    width: 100px;
    height: 100px;
}

.library .sentences-degree {
    display: inline-block;
    float: right;
}

.library .sentences-degree p {
    float: left;
    /*width: 30%;*/
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    color: #666;
}

.library progress {
    margin-left: 10px;
    width: 87px;
    height: 8px;
    border-radius: 10px;
}

.library progress::-webkit-progress-bar {
    border-radius: 10px;
    background: #eee;
}

/*.library progress::-webkit-progress-value {*/
/*border-radius: 10px;*/
/*background: #ff6d80;*/
/*}*/

/*.library .sentences-degree p progress.fluency::-webkit-progress-value {*/
/*background: #ffb846;*/
/*}*/

/*.library .sentences-degree p progress.integrity::-webkit-progress-value {*/
/*background: #36dbbb;*/
/*}*/

/* 鏃嬭浆鏈ㄩ┈ */
.library-content .carousel .carousel-inner {
    margin-top: 20px;
    height: 310px;
    /*border: 1px solid #ccc;*/
}

.library-content .carousel .carousel-inner .item {
    padding: 30px 100px 20px;
    font: 14px MicrosoftYaHei;
    font-weight: 700;
    color: #333;
}

.library-content .carousel .carousel-inner .item .part {
    height: 270px;
    background: url("../../images/speakAndListen/speak-bg.png") no-repeat center center;
    background-size: 100% 100%;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*overflow: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 28px;
    padding: 0 30px;
    text-align: justify;
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.library-content .carousel .carousel-inner .item .part .part-in {
    width: 100%;
}

.library-content .carousel .carousel-inner .item .part::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

/*瀹氫箟婊氬姩鏉¤建閬� 鍐呴槾褰�+鍦嗚*/
.library-content .carousel .carousel-inner .item .part::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/*瀹氫箟婊戝潡 鍐呴槾褰�+鍦嗚*/
.library-content .carousel .carousel-inner .item .part::-webkit-scrollbar-thumb {
    background-color: #11d8fc;
}

/* 澶囩敤棰滆壊 */
/*.library-content .carousel .carousel-inner .item .blue {*/
/*color: #11d8fc;*/
/*}*/

.library-content .carousel .carousel-inner .item .green {
    /*color: #36dbbb;*/
    color: #00d35b;
}

.library-content .carousel .carousel-inner .item .orange {
    /*color: #ffb846;*/
    color: #2aaff3;
}

.library-content .carousel .carousel-inner .item .red {
    /*color: #ff6d80;*/
    color: #fd1021;
}

.library-content .carousel .carousel-control {
    height: 0;
    top: 50%;
    margin-top: 15px;
}

/* 雷达图 */
.library-content .part-radars {
    /*float: right;*/
    width: 150px;
    height: 120px;
    margin: 30px 100px 0 0;
    overflow: hidden;
    position: absolute;
    right: 80px;
    top: -20px;
}

.library-content .part-radars div {
    width: 100px;
    height: 100px;
    /*background: #abf;*/
    /*display: none;*/
}

.library-content .nomous-practice-btn {
    width: 330px;
    /*height: 50px;*/
    margin: 60px auto 0;
    /*border: 1px solid #ccc;*/
    position: relative;
    user-select: none;
}

.library-content .nomous-practice-btn .speed {
    /*padding-top: 26px;*/
}

.library-content .nomous-practice-btn .play-icon {
    /* border-radius: 0%;
     margin-left: 108px;
     padding-top: 10px;*/
    width: 60px;
    height: 60px;
    background: url("../../images/common/recording-in.png") no-repeat center center;
    border-radius: 60px;
    margin: 10px auto;
    animation: recording 2s infinite;
    display: none;
}

@keyframes recording {
    0% {
        transform: scale(1.1, 1.1);
    }
    50% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}

/* 录音中 */
.library-content .nomous-practice-btn .speed-icon {
    width: 260px;
    margin-top: 4px;
    display: inline-block;
}

.library-content .nomous-practice-btn .speed-text {
    float: right;
    font-size: 18px;
    color: #333;
}

/* 重做按钮 */
.q_restart {
    /*padding: 0 67px;*/
    display: none;
}

.library-content .nomous-practice-btn .play {
    display: inline-block;
    /*color: #fff;*/
    /*line-height: 38px;*/
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: url("../../images/common/play.png") no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    margin: 0 53px;
    border-radius: 56px;
}

.library-content .nomous-practice-btn .play.headset {
    background: url("../../images/common/recording.png") no-repeat center center;
    background-size: 100% 100%;
    margin: 0 53px;
}

/*.library-content .nomous-practice-btn .play:hover{
    background: url("../../images/common/hover-button.png") no-repeat center center;
}*/

.library-content .nomous-practice-btn img {
    border-radius: 50%;
    cursor: pointer;
}

.library-content .nomous-practice-btn p {
    width: 100%;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.library-content .nomous-practice-btn .end {
    margin: 0;
    width: 300px;
    height: 100px;
    position: absolute;
    top: -160px;
    /*right: -480px;*/
    right: -301px;
    display: none;
    background: #fff;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 15px #ccc;
}

.library-content .nomous-practice-btn .end-p {
    line-height: 114px;
    font-size: 46px;
    font-weight: 700;
    /*padding-left: 40px;*/
    color: #00a0e9;
}

.library-content .nomous-practice-btn .end-p .span1 {
    font-size: 30px;
}

.library-content .nomous-practice-btn .end-p .span2 {
    color: #e5e5e5;
    font-size: 14px;
}

.library-content .nomous-practice-btn .end:hover {
    background: #fff;
}

/*.library-content .nomous-practice-btn .end img {*/
/*width: 130px;*/
/*height: 98px;*/
/*border-radius: 0%;*/
/*}*/

/* 鍚� wordspeaking .css line 135 */
/* 寮�濮嬪仛浣滀笟 妯℃�佹 */
.ready-go .modal-dialog {
    width: 450px;
}

.ready-go .modal-content {
    width: 450px;
    height: 320px;
    margin-top: 40%;
    background: url("../../images/common/ready-go-clound.png") no-repeat center center;
    border: none;
    box-shadow: none;
}

/* 浣滀笟鎻愪氦瓒呮椂妯℃�佹 */
.time-out {
    width: 40px;
    height: 21px;
}

.report .modal-content {
    width: 625px;
    height: 515px;
    margin-top: 25%;
}

.report .modal-content .modal-header,
.report .modal-content .modal-body,
.report .modal-content .modal-body {
    padding: 0;
    border: none;
}

.report .modal-content .modal-header {
    height: 57px;
    position: relative;
}

.report .modal-content .modal-header .close {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    font-size: 46px;
    color: rgba(0, 0, 0, .8);
    font-weight: 300;
    line-height: 46px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.report .modal-content .modal-body {
    height: auto;
}

.report .modal-content .modal-body img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid #00a0e9;
    margin-left: 245px;
}

.report .modal-content .modal-body .user-name {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.report .modal-content .modal-body .time {
    font-size: 12px;
    color: #999;
    text-align: center;
}

.report .modal-content .modal-body .result {
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 180px;
}

.report .modal-content .modal-body .radar-score {
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 20px;
    margin-top: 36px;
}

.report .modal-content .modal-body .free-practice-result {
    font-size: 16px;
    font-weight: 700;
    color: #00a0e9;
}

.report .modal-content .modal-body .free-practice-result .num {
    font-size: 36px;
    margin-right: 5px;
}

.report .modal-content .modal-body .title {
    /*height: 30px;*/
    line-height: 30px;
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #11d8fc;
}

.report .modal-body > div {
    text-align: left;
    /*margin-left: 100px;*/
    font-size: 12px;
    color: #999;
}

.report .modal-body .indicate .mid {
    display: inline-block;
    margin: 0 24px;
}

.report .modal-body .sentences-degree {
    display: block;
    width: 100%;
    margin: 20px 0 22px 0;
    padding-left: 100px;
}

.library .report .sentences-degree p {
    float: left;
    width: 30%;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin: 0;
}

.report .modal-content .modal-footer {
    height: 80px;
    width: 100%;
    margin-top: 37px;
    /*background: url("../../images/nomousPractice/score-bg.png") no-repeat bottom center;*/
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    color: #fff;
    border-top: none;
    background-color: #00a0e9;
}

.report .modal-content .modal-footer .fr {
    margin-right: 14px;
}

.report .modal-content .modal-footer .fl {
    margin: 14px 0 0 40px;
}

.report .modal-content .modal-footer .up {
    margin-top: 34px;
    text-align: center;
}

.speak-speed {
    width: 100px;
    height: 20px;
    display: inline-block;
    margin: 20px 0 0 0;
    position: relative;
    text-align: center;
    color: #00aeff;
}

.speak-speed .txt {
    color: #999;
}

.speak-speed .list {
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.speak-speed .list .current {
    display: inline-block;
    width: 30px;
}

.speak-speed ul {
    width: 44px;
    /*height: 20px;*/
    position: absolute;
    top: 20px;
    left: 44px;
    display: none;
    z-index: 2;
    /*border: 1px solid #ccc;*/
    cursor: pointer;
}

.speak-speed ul li:hover {
    background: yellow;
}

.speak-speed .list .triangle {
    border: 5px solid #ccc;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    margin: 0px 8px 0 0;
    transform: rotate(45deg);
}

.round-progress {
    position: relative;
    width: 60px;
    margin: 0 auto;
}

.record-bg {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../images/common/recording-in.png") no-repeat center center;
    background-size: 98% 98%;
    border-radius: 60px;
    top: 0;
    left: 0;
}

.round-progress-bar {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    /*background-color: #a9a9a9;*/
}

.green {
    color: #36dbbb;
}

.red {
    color: #ff6d80;
}

.orange {
    color: #ffb846;
}