html {
    height: 100%;
}

body {
    color: #999;
    font-size: 16px;
    height: 748px;
    position: relative;
}

.outs {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 76px;
    background: #fff;
}

#nav {
    width: 264px;
    height: 662px;
    background-color: #01A4F9;
    color: #333;
    border-radius: 5px;
}

#practice-banner {
    width: 932px;
    height: 662px;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}

#footer {
    width: 804px;
    height: 52px;
    margin: 1.5% 0 0 17%;
    background: transparent;
}

.text-title .level-scale li,
.text-title .level-classify .classification li,
.text-title .classify,
.text-title .level-classify,
.text-title .scale,
.text-title .level-scale,
.text-practice li,
.text-title .down-top,
.paging .up,
.paging .down,
.paging .toggles,
.paging .toggles li,
#practice-banner,
#nav,
#footer {
    float: left;
}

.text-title .text-level::after,
.text-title .text-classify::after,
.text-practice::after,
.down-top::after,
.level-classify .classification::after,
.paging .toggles::after,
.paging .toggles::before,
.outs .mains::after {
    clear: both;
    content: '';
    display: block;
}

.text-title .text-level .level-scale li,
.text-title .text-classify .level-classify .classification li,
.down-top .up-prev,
.down-top .down-next,
.text-practice li,
.paging .toggles li,
.paging .up,
.paging .down {
    cursor: pointer;
}

.my-bookshelf,
.my-bookshelf:hover,
.text-title .current,
.paging .toggles .col {
    color: #fff;
}

#practice-banner .text-title {
    width: 856px;
    margin: 38px auto 5px;
}

.text-title .text-level .level-scale li {
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    user-select: none;
}

.text-title .text-level .level-scale li:nth-of-type(1) {
    margin-left: 0;
}

.text-title .current {
    background-color: #00a0e9;
}

.text-title .text-classify,
.text-title .text-level {
    margin: 6px 0 0;
}

.text-title .text-classify .level-classify li,
.text-title .text-level .level-scale li,
.text-title .text-classify .classify,
.text-title .text-level .scale {
    padding: 2px 5px;
}

.text-title .text-classify .level-classify ul:nth-of-type(1) {
    display: block;
}

.text-title .text-classify .level-classify .classification {
    display: none;
    width: 700px;
}

.text-title .text-classify .level-classify .classification li:nth-of-type(1) {
    margin-left: 0;
}

.text-title .text-classify .level-classify .classification li {
    border-radius: 5px;
    margin-left: 10px;
    user-select: none;
}

.down-top {
    display: none;
}

.down-top .up-prev,
.down-top .down-next {
    width: 20px;
    height: 10px;
}

.my-bookshelf {
    display: block;
    width: 107px;
    height: 32px;
    margin-left: 744px;
    border-radius: 5px;
    background-color: #f08118;
    line-height: 32px;
    text-align: center;
}

.my-bookshelf .shelf {
    width: 16px;
    height: 16px;
    margin: 8px 5px 0 0;
    vertical-align: top;
}

.practice-wrap {
    width: 856px;
    height: 465px;
    margin: 0 auto ;
    background: #fff;
    overflow: hidden;
    position: relative;
    /*border-top: 5px solid  #f08118;*/
}

.text-practice {
    width: 800px;
    height: 430px;
    margin: 15px auto 0;
    overflow: hidden;
}

.text-practice li {
    width: 252px;
    height: 126px;
    margin: 13px 13px 0 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.text-practice li:hover {
    width: 252px;
    height: 126px;
    box-shadow: 0 0 8px 1px rgba(0, 160, 233, 0.16);
}

.text-practice li:nth-of-type(3n) {
    margin-right: 0;
}

.text-practice li:nth-of-type(3n-2) {
    margin-left: 4px;
}

.text-practice li .practice-title {
    width: 80%;
    margin: 28px auto 0;
    font-size: 18px;
    /*color: #00a0e9;*/
    /*color: #FFA902;*/
    color: #f08118;
    /*color: #ffde00;*/
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-practice li .practice-info {
    font-size: 12px;
    color: #999;
    text-align: center;
}

.text-practice li .practice-info .pr-classify {
    margin-left: 15px;
    font-weight: 300;
}

.text-practice li .start-read {
    width: 104px;
    height: 24px;
    margin: 10px 0 0 72px;
    background-image: linear-gradient(93deg, #4fc6fc, #01e2ea);
    border-radius: 22px;
    color: #fff;
    line-height: 24px;
    text-align: center;

}

.page-wrap {
    font-size: 12px;
    position: relative;
    width: 848px;
    margin: 10px auto 0;
    height: 30px;
    text-align: center;
}

.page-wrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.paging {
    display: inline-block;
}

.paging .up,
.paging .down {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.paging .toggles {
    float: left;
    margin: 0 10px;
}

.paging .toggles li {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    color: #999;
    float: left;
    cursor: pointer;
}

.paging .toggles .col {
    background-color: #4fc6fc;
    color: #fff;
    border: none;
}

.down-top {
    margin: 0 10px;
}

.down-top img {
    margin-left: 5px;
}

.empty-all {
    width: 180px;
    margin: 110px auto 0;
}

.empty-all img {
    width: 180px;
    height: 160px;
}

.empty-all .empty-text {
    width: 180px;
    margin: 20px auto;
    text-align: center;
    color: #999;
}