body {
    color: #999;
    font-size: 16px;
    min-height: 768px;
}
.outs .mains::after{
    content: "";
    display: block;
    clear: both;
}
.outs {
    width: 100%;
    height: 100%;
    /*min-height: 687px;*/
    background: url("../../images/common/background.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10px;
}

.outs .mains {
    width: 1200px;
    margin: 0 auto;
}

#nav {
    width: 264px;
    height: 682px;
    float: left;
    color: #333;
}

#job-list {
    width: 932px;
    min-height: 580px;
    height: 682px;
    float: left;
    margin-left: 4px;
    background: #fff;
    border-radius: 5px;
}