body {
    color: #999;
    font-size: 16px;
    min-height: 748px;
}

.job-list {
    width: 100%;
}

.screen {
    width: 856px;
    height: 22px;
    margin: 35px auto 0;
    font-weight: 300;
}

.screen span {
    font-size: 16px;
    vertical-align: middle;
}

.screen .btn {
    height: 22px;
    padding: 0 6px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.screen .btn-primary {
    background: #00a0e9;
    color: #fff;
}

.paging .toggles::after,
.paging .toggles::before,
.report-banner .main::after {
    content: "";
    display: block;
    clear: both;
}

.report-banner {
    position: relative;
    width: 870px;
    height: 495px;
    overflow: hidden;
    margin: 27px auto 0;
}

.report-banner .main li {
    float: left;
    width: 280px;
    height: 234px;
    margin: 8px 0 0 8px;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.report-banner .main li:hover {
    border-color: transparent;
    box-shadow: 0 0 7px 1px rgba(0, 160, 233, 0.28);
}

.report-banner .main li p {
    margin-top: 30px;
    color: #999;
    font-weight: 300;
}

.report-banner .main li p:first-of-type {
    color: #00a0e9;
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin: 30px auto 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.report-banner .main li p.start-time,
.report-banner .main li p.final-time {
    margin-top: 15px;
    text-align: left;
    padding-left: 22%;
}

.report-banner .main li p.final-time {
    margin-top: 0;
}

.report-banner .main li p.end-time {
    margin-top: 25px;
}

.report-banner .main li p .color-blue,
.report-banner .main li p .color-normal {
    font-size: 18px;
    font-weight: 300;
}

.report-banner .main li p .color-blue {
    color: #f08118;
    margin-right: -5px;
}

.report-banner .main li p .color-normal {
    color: #333;
}

.report-banner .main li .do-homework,
.report-banner .main li .check-report {
    display: block;
    width: 106px;
    height: 30px;
    border-radius: 5px;
    background: url("../../images/common/normal-button.png") no-repeat center center;
    background-size: cover;
    line-height: 30px;
    color: #fff;
    margin: 28px auto 0;
}

.report-banner .main li .check-report {
    margin: 18px auto 0;
}

.report-banner .main li .do-homework:hover,
.report-banner .main li .check-report:hover {
    background: url("../../images/common/hover-button.png") no-repeat center center;
    background-size: cover;
}

.report-banner .main li a {
    margin-bottom: 10px;
}

.report-banner .main li a:hover {
    text-decoration: none;
}

.report-banner .main .score {
    width: 75px;
    height: 35px;
    margin: 30px auto 0;
}

.report-banner .main .score .blue-color {
    color: #f08118;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
}

.report-banner .main .score .normal-color {
    font-size: 13px;
    color: #999;
}

.page-wrap {
    position: relative;
    width: 848px;
    margin: 35px auto 0;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

.page-wrap:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.paging {
    display: inline-block;
}

.paging .up,
.paging .down {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.paging .toggles {
    float: left;
    margin: 0 10px;
}

.paging .toggles li {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    color: #999;
    float: left;
    cursor: pointer;
}

.paging .toggles .col {
    background-color: #4fc6fc;
    color: #fff;
    border: none;
}

.empty-all {
    width: 180px;
    margin: 165px auto 0;
}

.empty-all img {
    width: 180px;
    height: 160px;
}

.empty-all .empty-text {
    width: 180px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #999;
}

